{% extends "users/account_header.html" %}


{% block data %}
    <div class="account-wrapper m-b-60">
        <div class="row m-t-15">
            <div class="col-xl-3 col-lg col-md-5">
                <ul class="list-unstyled">
                    <li class="m-b-20">
                        <h4><i class="fas fa-angle-double-up"></i>&nbsp;&nbsp; Lists Levels</h4><hr>
                        {% for media in media_data %}
                            <div class='account-bar'>
                                <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                 title="{{ media['media_level']['grade_title'] }}"
                                 src="{{ media['media_level']['grade_id'] }}.png" alt=""/>
                                <a class="account-bar-name text-light" href="{{ url_for('main.medialist',
                                 media_list=media['media_type'], username=user.username) }}">
                                    {{ media['media'] }}
                                </a>
                                <div id="{{ media['media']|lower }}-level" class='account-bar-level'>
                                    Level {{ '%02d'|format(media['media_level']['level']) }}
                                </div>
                                <div class="xp-bar" data-toggle="tooltip"
                                 title="{{ media['media_level']['level_percent'] }}%">
                                    <div class="xp-bar-fill bg-{{ media['media']|lower }}"
                                     style="width: {{ media['media_level']['level_percent'] }}%;"></div>
                                </div>
                                <div class='account-bar-next-level'>
                                    &nbsp;{{ '%02d'|format(media['media_level']['level']|int + 1) }}
                                </div>
                            </div>
                        {% endfor %}
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-highlighter text-light"></i>&nbsp;&nbsp; Updates
                            <form id='all_history' method="POST" action="{{ url_for('users.account',
                             username=user.username) }}">
                                <input class="d-none" name="all_history" value="True">
                                <a onclick="$('#all_history').submit()" class="more-link">
                                    <u><i>History</i></u>
                                </a>
                            </form>
                        </h4>
                        <hr class='m-b-8'>
                        {% for update in user_updates %}
                            <div class="update-box" style="border-color: {{ update['border'] }};">
                                <a class="text-light truncate" href="{{ url_for('main.media_details',
                                 media_type=update['category'], media_id=update['media_id']) }}">
                                    <i class="{{ update['icon-color'] }} m-r-10" data-toggle="tooltip"
                                     title="{{ update['category'] }}"></i>
                                    {{ update['media_name'] }}
                                </a>
                                <div class="m-l-35" style="font-size: 11pt;">
                                    {% if update['update']|length == 2 %}
                                        {{ update['update'][0] }}
                                        <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                        {{ update['update'][1] }}
                                    {% else %}
                                        {{ update['update'][0] }}
                                    {% endif %}
                                </div>
                                <span class="update-date">
                                    <script type="text/javascript">
                                        var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                        var localdate = new Date("{{ update['date'] }}")
                                            .toLocaleString("en-GB", {timeZone: tz});
                                        var d = new Date("{{ update['date'] }}");
                                        var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                                            "Oct", "Nov", "Dec"];
                                        var date_month = month[d.getMonth()];
                                        var date_day = localdate.slice(0, 2);
                                        var date_time = localdate.slice(11, 17);
                                        document.write(date_day + " " + date_month + " at " + date_time);
                                    </script>
                                </span>
                            </div>
                        {% endfor %}
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-sm fa-info-circle"></i>&nbsp;&nbsp; Information</h4><hr>
                        <ul class="list-checkbox-column">
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">Profile views</div>
                                    <div class="col-2">{{ user.profile_views }}</div>
                                </div>
                            </li>
                            {% for media in media_data %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-9">{{ media['media_type']|capitalize }} views</div>
                                        <div class="col-2">{{ user|attr(media['media']|lower+"_views") }}</div>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="m-b-10">
                                <a class="text-light" href="{{ url_for('users.level_grade_data') }}" target="_blank">
                                    <div class="row">
                                        <div class="col-9">Grades and levels data</div>
                                        <div class="col-2 fas fa-external-link-alt m-t-2 text-grey"></div>
                                    </div>
                                </a>
                            </li>
                            <li class="m-b-10">
                                <a class="text-light" href="{{ url_for('users.knowledge_frame_data') }}" target="_blank">
                                    <div class="row">
                                        <div class="col-9">Knowledge frame data</div>
                                        <div class="col-2 fas fa-external-link-alt m-t-2 text-grey"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="vertical-line"></div>
            <div class="col-xl col-lg col-md">
                <ul class="list-unstyled">
                    <li class="m-b-40">
                        <h4><i class="fas fa-chart-pie"></i>&nbsp;&nbsp; Statistics</h4><hr>
                        <div class="row no-gutters">
                            <div class="col-xl-5 col-lg-12 col-sm-12 media-container">
                                <canvas id="media-time"></canvas>
                                <span id="times-pie" values="{{ media_global['total_time_by_media_type'] }}"></span>
                                <span id="colors-pie" values="{{ media_global['all_colors_by_media_type'] }}"></span>
                            </div>
                            {% if user.add_feeling %}
                                <div class="col-xl-7 col-lg-12 col-sm-12 m-t-10">
                                    <div class="row text-center no-gutters m-t-15 fs-18">
                                        <div class="col-4 m-b-10">
                                            <div class="p-2" title="{{ ((media_global['total_hours'])/24)|int }} days"
                                                 data-toggle="tooltip">
                                                <i class="fas fa-clock"></i><b> Time</b><br>
                                                {{ media_global['total_hours'] }} h
                                            </div>
                                        </div>
                                        <div class="col-4 m-b-10">
                                            <div class="p-2" data-toggle="tooltip" title="Total media">
                                                <i class="fas fa-play"></i><b class="m-l-3"> Media</b><br>
                                                {{ media_global['total_media'] }}
                                            </div>
                                        </div>
                                        <div class="col-4 m-b-10">
                                            <div class="p-2" data-toggle="tooltip" title="Percentage of media noted
                                            ({{ media_global['total_score'] }}/{{ media_global['total_media'] }})">
                                                <i class="fas fa-align-justify"></i><b class="m-l-4"> Scored</b><br>
                                                {% if media_global['total_media'] != 0 %}
                                                    {{ ((media_global['total_score']*100)/(media_global['total_media']))|round(1) }} %
                                                {% else %}
                                                    0.0 %
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-12 m-b-10">
                                            <div class="d-flex" style="justify-content: space-evenly;">
                                                <div>
                                                    <i class="fas fa-grin-stars" style="color: #019101;"></i>
                                                    <br>{{ media_global['distrib_feels'][5] }}
                                                </div>
                                                <div>
                                                    <i class="fas fa-grin-alt" style="color: #59a643;"></i>
                                                    <br>{{ media_global['distrib_feels'][4] }}
                                                </div>
                                                <div>
                                                    <i class="fas fa-smile" style="color: darkseagreen;"></i>
                                                    <br>{{ media_global['distrib_feels'][3] }}
                                                </div>
                                                <div>
                                                    <i class="fas fa-frown" style="color: #d0a141;"></i>
                                                    <br>{{ media_global['distrib_feels'][2] }}
                                                </div>
                                                <div>
                                                    <i class="fas fa-angry" style="color: indianred;"></i>
                                                    <br>{{ media_global['distrib_feels'][1] }}
                                                </div>
                                                <div>
                                                    <i class="fas fa-poop" style="color: saddlebrown;"></i>
                                                    <br>{{ media_global['distrib_feels'][0] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xl-7 col-lg-12 col-sm-12 m-t-10">
                                    <div class="row text-center m-t-15 fs-18">
                                        <div class="col-6 m-b-10">
                                            <div class="p-2" title="{{ ((media_global['total_hours'])/24)|int }} days"
                                                 data-toggle="tooltip">
                                                <i class="fas fa-clock"></i><b> Time</b><br>
                                                {{ media_global['total_hours'] }} h
                                            </div>
                                        </div>
                                        <div class="col-6 m-b-10" style="margin-left: -10px;">
                                            <div class="p-2" data-toggle="tooltip" title="Total media">
                                                <i class="fas fa-play"></i><b class="m-l-3"> Media</b><br>
                                                {{ media_global['total_media'] }}
                                            </div>
                                        </div>
                                        <div class="col-6 m-b-10">
                                            <div class="p-2" data-toggle="tooltip" title="Percentage of media scored
                                            ({{ media_global['total_score'] }}/{{ media_global['total_media'] }})">
                                                <i class="fas fa-align-justify"></i><b class="m-l-4">  Scored</b><br>
                                                {% if media_global['total_media'] != 0 %}
                                                    {{ ((media_global['total_score']*100)/(media_global['total_media']))|round(1) }} %
                                                {% else %}
                                                    0.0 %
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-6 m-b-10" style="margin-left: -10px;">
                                            <div class="p-2" data-toggle="tooltip" title="Global mean score">
                                                <i class="fas fa-star"></i><b> Score</b><br>
                                                {{ media_global['total_mean_score'] }}/10
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        {% for media in media_data %}
                            <section class="m-b-40">
                                {% if not user.add_feeling and media['media_per_score']|sum != 0 %}
                                    <div class="{{ media['media']|lower }}-collapse collapse show ac">
                                        <div class="histogram-wrapper m-b-2">
                                            <ul id="{{ media['media']|lower }}-score" class="added-styles"></ul>
                                        </div>
                                    </div>
                                {% endif %}
                                    <a class="text-light" data-toggle="collapse" href=".{{ media['media']|lower }}-collapse"
                                     onclick="change_caret(this)">
                                        <h5 class="media-stats-title mb-2 p-1">
                                            &nbsp;<i class="fas fa-caret-down"></i>
                                            <b>&nbsp;{{ media['media']|upper }}</b>
                                            <span class="float-r" data-toggle="tooltip" title="{{ media['time_hours'] }} hours">
                                                <b>{{ media['time_days']|int }} days</b>
                                            </span>
                                        </h5>
                                    </a>
                                    <div class="{{ media['media']|lower }}-collapse collapse show ac">
                                    <div id="{{ media['media']|upper }}" class="stat-text m-b-8">
                                        {% if not user.add_feeling %}
                                            <span><b>Days: {{ media['time_days'] }}</b></span>
                                            <span class="float-r">
                                                <b>Score: {{ media['media_score']['mean_score'] }}/10</b>
                                            </span><br>
                                            <span><b>Hours: {{ media['time_hours'] }}</b></span>
                                            <span class="float-r" data-toggle="tooltip" title="Media scored">
                                                <b>Scored: {{ media['media_score']['scored_media'] }}/{{ media['media_score']
                                                ['total_media'] }}</b>
                                            </span>
                                        {% else %}
                                            <span><b>Hours: {{ media['time_hours'] }}</b></span>
                                            <span class="float-r" data-toggle="tooltip" title="Media scored">
                                                <b>Scored: {{ media['media_score']['scored_media'] }}/{{ media['media_score']
                                                ['total_media'] }}</b>
                                            </span>
                                        {% endif %}
                                        <figure>
                                            {% if media['nodata'] %}
                                                <span class="block-no-data" data-toggle="tooltip" title="No data">
                                                    <span id="100%" class="value"></span>
                                                </span>
                                            {% else %}
                                                {% for m in media['media_count'] %}
                                                    <span class="block" data-toggle="tooltip" title="{{ m }}">
                                                        <span id="{{ media['media_count'][m]['percent'] }}%" class="value"></span>
                                                    </span>
                                                {% endfor %}
                                            {% endif %}
                                        </figure>
                                        <div class="row stat-text p-t-5" style="clear: both;">
                                            {% for m in media['media_count'] %}
                                                <div class="col-4">
                                                    <a href="{{ url_for('main.medialist', media_list=media['media_type'],
                                                     username=user.username, category=m) }}">{{ m }}</a>
                                                </div>
                                                <div class="col-2">
                                                    <span>{{ media['media_count'][m]['count'] }}</span>
                                                </div>
                                            {% endfor %}
                                            <div class="col-4">
                                                <a href="{{ url_for('main.medialist', media_list=media['media_type'],
                                                 username=user.username, category='All') }}">Total</a>
                                            </div>
                                            <div class="col-2">
                                                <span>{{ media['total'] }}</span>
                                            </div>

                                            {% if media['media_type'] == 'serieslist' or media['media_type'] == 'animelist' %}
                                                <div class="col-4">
                                                    <span>Episodes</span>
                                                </div>
                                            {% elif media['media_type'] == 'movieslist' %}
                                                <div class="col-4" data-toggle="tooltip" title="Rewatch added">
                                                    <span>Total watched</span>
                                                </div>
                                            {% elif media['media_type'] == 'bookslist' %}
                                                <div class="col-4">
                                                    <span>Pages read</span>
                                                </div>
                                            {% endif %}
                                            {% if media['media_type'] != 'gameslist' %}
                                                <div class="col-2">
                                                    <span>{{ media['media_total_eps'] }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a href="{{ url_for('main.medialist', media_list=media['media_type'],
                                     username=user.username, category='Favorite') }}">
                                        <b>Favorites ({{ media['media_favorites']|length }})</b>
                                    </a>
                                    <div class="row">
                                        <div class="col">
                                            {% for favorite in media['media_favorites'] %}
                                                {% if loop.index < 12 %}
                                                    <a href="{{ url_for('main.media_details', media_type=media['media'],
                                                    media_id=favorite.media_id) }}">
                                                        <img class="favorite-img" title="{{ favorite.media.name }}"
                                                         src="/static/covers/{{ media['media']|lower }}_covers/{{ favorite.media.image_cover }}"
                                                         data-toggle="tooltip"/>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </section>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="vertical-line"></div>
            <div class="col-xl-3 col-lg col-md">
                <ul class="list-unstyled">
                    <li class="m-b-20">
                        <h4><i class="fas fa-user-check"></i>&nbsp;&nbsp; Follows
                            {% set follows = user.followed.all() %}
                            <form id='all_follows' style="display: inline;" method="POST"
                                  action={{ url_for('users.account', username=user.username) }}>
                                <input class="d-none" name="all_follows" value="True">
                                <a onclick="$('#all_follows').submit()" class="more-link">
                                    <u><i>All ({{ follows|length }})</i></u>
                                </a>
                            </form>
                        </h4><hr>
                        <div class='row no-gutters text-center' style="margin-bottom: -15px;">
                            {% if follows %}
                                {% for follow in follows %}
                                    {% if loop.index0 < 12 %}
                                    <div class="col-3 m-b-15">
                                        <a href="{{ follow.username }}">
                                            <img class="follow-img" data-toggle="tooltip" title="{{ follow.username }}"
                                            src="/static/profile_pics/{{ follow.image_file }}">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="m-b-10" style="color: grey;"><i>No follows to display.</i></div>
                            {% endif %}
                        </div>
{#                        {% if current_user.get_id() == user.id %}#}
{#                            <div class="m-t-15"></div>#}
{#                            <a class="btn hof-button" href="{{ url_for('users.hall_of_fame') }}">Hall of Fame</a>#}
{#                        {% endif %}#}
                    </li>
                    <li class="m-b-20 m-t-25">
                        <h4><i class="fas fa-bell text-light"></i>&nbsp;&nbsp; Follows' Updates</h4>
                        <hr class='m-b-8'>
                        {% if follows_updates %}
                            {% for update in follows_updates %}
                                <div class="update-box" style="border-color: {{ update['border'] }};">
                                    <a class="text-light truncate" href="{{ url_for('main.media_details',
                                    media_type=update['category'], media_id=update['media_id']) }}">
                                        <i class="{{ update['icon-color'] }} m-r-10" data-toggle="tooltip"
                                           title="{{ update['category'] }}"></i>
                                        {{ update['media_name'] }}
                                    </a>
                                    <div class="m-l-35" style="font-size: 11pt;">
                                        {% if update['update']|length == 2 %}
                                            {{ update['update'][0] }}
                                            <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                            {{ update['update'][1] }}
                                        {% else %}
                                            {{ update['update'][0] }}
                                        {% endif %}
                                    </div>
                                    <span class="m-l-35" style="color: #b3b3b3; font-size: 10pt;">
                                        <script>
                                            var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                            var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB",
                                                {timeZone: tz});
                                            var d = new Date("{{ update['date'] }}")
                                            var month = new Array();
                                            month[0] = "Jan";
                                            month[1] = "Feb";
                                            month[2] = "Mar";
                                            month[3] = "Apr";
                                            month[4] = "May";
                                            month[5] = "Jun";
                                            month[6] = "Jul";
                                            month[7] = "Aug";
                                            month[8] = "Sep";
                                            month[9] = "Oct";
                                            month[10] = "Nov";
                                            month[11] = "Dec";
                                            var date_month = month[d.getMonth()];
                                            var date_day = localdate.slice(0, 2);
                                            var date_time = localdate.slice(11, 17)
                                            document.write(date_day + " " + date_month + " at " + date_time)
                                        </script>
                                        by
                                    </span>
                                    <a href="/account/{{ update['username'] }}" style="color: #359aff; font-size: 10pt;">
                                        {{ update['username'] }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="m-b-10" style="color: grey;"><i>No updates to display.</i></div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock data %}


{% block added_js %}
    <script>
        function change_caret(caret_div) {
            let $caret_div = $(caret_div).children().children().siblings().first();
            if ($caret_div.hasClass('fas fa-caret-down')) {
                $caret_div.removeClass('fas fa-caret-down');
                $caret_div.addClass('fas fa-caret-right');
            }
            else {
                $caret_div.removeClass('fas fa-caret-right');
                $caret_div.addClass('fas fa-caret-down');
            }
        }

        function add_histogram(values, media_type) {
            // Recover the histograms values
            const histogramVals = values;

            // Max value of each histogram array
            const maxVal = Math.max(...histogramVals);

            // Turn histogram numbers into histogram li items
            let i = -0.5;
            const histogram = histogramVals.reduce((acc, number) => {
                const height = number/maxVal*100;
                i += 0.5;

                return acc + `<li class="histogram-item bg-`+media_type+`" data-toggle="tooltip" title="`+i+`/10: `+number+` `+media_type+`" style="height: calc(${height}% + 1px)" />`
            }, ``);

            // Inject into dom
            const chart = document.getElementById(media_type+'-score');
            chart.innerHTML = histogram;
        };

        let a, b;
        {% for media in media_data %}
            a = {{ media['media_per_score'] }};
            b = '{{ media['media']|lower }}';
            {% if media['media_per_score']|sum != 0 %}
                add_histogram(a, b);
            {% endif %}
        {% endfor %}
    </script>
{% endblock added_js %}
