# Configuration
DATABASE_URL=file:./instance/site.db
VITE_BASE_URL=http://localhost:3000

# Image/Covers Management
UPLOADS_DIR_NAME=static
BASE_UPLOADS_LOCATION=./public/static/

# Admin Data
ADMIN_PASSWORD=password
ADMIN_TTL_COOKIE_MIN=10
ADMIN_MAIL_PASSWORD=
ADMIN_MAIL_USERNAME=
ADMIN_TOKEN_SECRET=

# Demo Profile Password
DEMO_PASSWORD=

# Redis Setup
CACHE_TTL_MIN=5
REDIS_ENABLED=false
REDIS_URL=redis://localhost:6379

# Better Auth Secret
BETTER_AUTH_SECRET=

# OAuth2 Providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ApiKeys
THEMOVIEDB_API_KEY=
GOOGLE_BOOKS_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
IGDB_API_KEY=

# LLM ROUTER INFO
LLM_MODEL_ID=google/gemini-2.5-flash-lite
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_API_KEY=
