flask
howlongtobeatpy
python-dotenv
itsdangerous
sqlalchemy==1.3.23
ratelimit
pykakasi
requests
wtforms
pathlib
Pillow
pandas
iso639
redis
pytz
rq
flask_sqlalchemy
flask_login
flask_bcrypt
flask_mail
flask_compress
flask_wtf
email_validator
flask_admin
WTForms-Alchemy