flask
flask_sqlalchemy
flask_login
flask_bcrypt
flask_mail
flask_compress
flask_wtf
flask_admin
howlongtobeatpy
python-dotenv
itsdangerous
sqlalchemy
ratelimit
pykakasi
requests
wtforms
pathlib
Pillow
pandas
iso639
pytz
email_validator
WTForms-Alchemy
scikit-learn
numpy