flask
howlongtobeatpy
python-dotenv
itsdangerous
sqlalchemy
ratelimit
pykakasi
requests
wtforms
pathlib
Pillow
pandas
iso639
pytz
flask_sqlalchemy
flask_login
flask_bcrypt
flask_mail
flask_compress
flask_wtf
email_validator
flask_admin
WTForms-Alchemy
scikit-learn
numpy