{% extends "account_header.html" %}


{% block data %}
    <div class="account-wrapper m-b-60">
        <div class="row m-t-15">
            <div class="col-xl-3 col-lg col-md-5">
                <ul class="list-unstyled">
                    <li class="m-b-20">
                        <h4><i class="fas fa-angle-double-up"></i>&nbsp;&nbsp; Lists Levels</h4><hr>
                        <div class='account-bar'>
                            <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                 title="{{ media_data['series']['media_levels']['grade_title'] }}"
                                 src="{{ media_data['series']['media_levels']['grade_id'] }}.png" alt=""/>
                            <a class="account-bar-name text-light" href="{{ url_for('main.mymedialist',
                                media_list='serieslist', user_name=user.username) }}">Series</a>
                            <div id="series-level" class='account-bar-level'>
                                Level {{ '%02d'|format(media_data['series']['media_levels']['level']) }}
                            </div>
                            <div class="xp-bar" data-toggle="tooltip" title="{{ media_data['series']['media_levels']['level_percent'] }}%">
                                <div class="xp-bar-fill bg-series" style="width: {{ media_data['series']
                                ['media_levels']['level_percent'] }}%;"></div>
                            </div>
                            <div class='account-bar-next-level'>
                                &nbsp;{{ '%02d'|format(media_data['series']['media_levels']['level']|int + 1) }}
                            </div>
                        </div>
                        <div class='account-bar'>
                            <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                 title="{{ media_data['anime']['media_levels']['grade_title'] }}"
                                 src="{{ media_data['anime']['media_levels']['grade_id'] }}.png"/>
                            <a class="account-bar-name text-light" href="{{ url_for('main.mymedialist',
                                media_list='animelist', user_name=user.username) }}">Anime</a>
                            <div id="anime-level" class='account-bar-level'>
                                Level {{ '%02d' | format(media_data['anime']['media_levels']['level']) }}</div>
                            <div class='xp-bar' data-toggle="tooltip"
                                 title="{{ media_data['anime']['media_levels']['level_percent'] }}%">
                                <div class="xp-bar-fill bg-anime" style="width: {{ media_data['anime']
                                ['media_levels']['level_percent'] }}%;"></div>
                            </div>
                            <div class='account-bar-next-level'>
                                &nbsp;{{ '%02d' |format(media_data['anime']['media_levels']['level']|int + 1) }}
                            </div>
                        </div>
                        <div class="account-bar">
                            <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                 title="{{ media_data['movies']['media_levels']['grade_title'] }}"
                                 src="{{ media_data['movies']['media_levels']['grade_id'] }}.png"/>
                            <a class="account-bar-name text-light" href="{{ url_for('main.mymedialist',
                                media_list='movieslist', user_name=user.username) }}">Movies</a>
                            <div id="movies-level" class='account-bar-level'>
                                Level {{ '%02d' |format(media_data['movies']['media_levels']['level']) }}
                            </div>
                            <div class="xp-bar" data-toggle="tooltip" title="{{ media_data['movies']
                            ['media_levels']['level_percent'] }}%">
                                <div class="xp-bar-fill bg-movies" style="width: {{ media_data['movies']
                                ['media_levels']['level_percent'] }}%;"></div>
                            </div>
                            <div class="account-bar-next-level">
                                &nbsp;{{ '%02d' |format(media_data['movies']['media_levels']['level']|int + 1) }}
                            </div>
                        </div>
                        {% if user.add_games %}
                            <div class="account-bar">
                                <img class="float-left m-r-10 m-t-4" height='40' width='40' data-toggle="tooltip"
                                     title="{{ media_data['games']['media_levels']['grade_title'] }}"
                                     src="{{ media_data['games']['media_levels']['grade_id'] }}.png"/>
                                <a class="account-bar-name text-light" href="{{ url_for('main.mymedialist',
                                        media_list='gameslist', user_name=user.username) }}">Games</a>
                                <div id="movies-level" class='account-bar-level'>
                                    Level {{ '%02d' |format(media_data['games']['media_levels']['level']) }}
                                </div>
                                <div class="xp-bar" data-toggle="tooltip" title="{{ media_data['games']
                                ['media_levels']['level_percent'] }}%">
                                    <div class="xp-bar-fill bg-games" style="width: {{ media_data['games']
                                    ['media_levels']['level_percent'] }}%;">
                                    </div>
                                </div>
                                <div class="account-bar-next-level">&nbsp;{{ '%02d' |
                                format(media_data['games']['media_levels']['level']|int + 1) }}</div>
                            </div>
                        {% endif %}
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-highlighter text-light"></i>&nbsp;&nbsp; Updates
                            <form id='all_history' method="POST" action="{{ url_for('users.account',
                             user_name=user.username) }}">
                                <input class="d-none" name="all_history" value="True">
                                <a onclick="$('#all_history').submit()" class="more-link">
                                    <u><i>History</i></u>
                                </a>
                            </form>
                        </h4>
                        <hr class='m-b-8'>
                        {% for update in user_updates %}
                            <div class="update-box" style="border-color: {{ update['border'] }};">
                                <a class="text-light truncate" href="{{ url_for('main.media_sheet',
                                 media_type=update['category'], media_id=update['media_id']) }}">
                                    <i class="{{ update['icon-color'] }} m-r-10" data-toggle="tooltip"
                                       title="{{ update['category'] }}"></i>
                                    {{ update['media_name'] }}
                                </a>
                                <div class="m-l-35" style="font-size: 11pt;">
                                    {% if update['update']|length == 2 %}
                                        {{ update['update'][0] }}
                                        <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                        {{ update['update'][1] }}
                                    {% else %}
                                        {{ update['update'][0] }}
                                    {% endif %}
                                </div>
                                <span class="update-date">
                                    <script type="text/javascript">
                                        var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                        var localdate = new Date("{{ update['date'] }}")
                                            .toLocaleString("en-GB", {timeZone: tz});
                                        var d = new Date("{{ update['date'] }}");
                                        var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                                            "Oct", "Nov", "Dec"];
                                        var date_month = month[d.getMonth()];
                                        var date_day = localdate.slice(0, 2);
                                        var date_time = localdate.slice(11, 17);
                                        document.write(date_day + " " + date_month + " at " + date_time);
                                    </script>
                                </span>
                            </div>
                        {% endfor %}
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-sm fa-info-circle"></i>&nbsp;&nbsp; Information</h4><hr>
                        <ul class="list-checkbox-column">
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">Profile views</div>
                                    <div class="col-2">{{ user.profile_views }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">SeriesList views</div>
                                    <div class="col-2">{{ user.series_views }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">AnimeList views</div>
                                    <div class="col-2">{{ user.anime_views }}</div>
                                </div>
                            </li>
                            <li class="m-b-10">
                                <div class="row">
                                    <div class="col-9">MoviesList views</div>
                                    <div class="col-2">{{ user.movies_views }}</div>
                                </div>
                            </li>
                            {% if user.add_games %}
                                <li class="m-b-10">
                                    <div class="row">
                                        <div class="col-9">GamesList views</div>
                                        <div class="col-2">{{ user.games_views }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="m-b-10">
                                <a class="text-light" href="{{ url_for('users.level_grade_data') }}" target="_blank">
                                    <div class="row">
                                        <div class="col-9">Grades and levels data</div>
                                        <div class="col-2 fas fa-external-link-alt m-t-2 text-grey"></div>
                                    </div>
                                </a>
                            </li>
                            <li class="m-b-10">
                                <a class="text-light" href="{{ url_for('users.knowledge_frame_data') }}" target="_blank">
                                    <div class="row">
                                        <div class="col-9">Knowledge frame data</div>
                                        <div class="col-2 fas fa-external-link-alt m-t-2 text-grey"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="vertical-line"></div>
            <div class="col-xl col-lg col-md">
                <ul class="list-unstyled">
                    <li class="m-b-30">
                        <h4><i class="fas fa-chart-pie"></i>&nbsp;&nbsp; Statistics</h4><hr>
                        <div class="row no-gutters">
                            <div class="col-xl-6 col-lg-12 col-sm-12 media-container">
                                <canvas id="media-time"></canvas>
                                {% if user.add_games %}
                                    <span id="time-spent-pie" values="{{ media_data['series']['time_spent_hour'] }}
                                          , {{ media_data['anime']['time_spent_hour'] }}
                                          , {{ media_data['movies']['time_spent_hour'] }}
                                          , {{ media_data['games']['time_spent_hour'] }}">
                                    </span>
                                {% else %}
                                    <span id="time-spent-pie" values="{{ media_data['series']['time_spent_hour'] }}
                                          , {{ media_data['anime']['time_spent_hour'] }}
                                          , {{ media_data['movies']['time_spent_hour'] }}">
                                    </span>
                                {% endif %}
                            </div>
                            <div class="col-xl-6 col-lg-12 col-sm-12 m-t-10">
                                <div class="row m-t-15 fs-18">
                                    <div class="col-6 m-b-10">
                                        <div class="p-2" title="{{ ((media_data['total_spent_hour'])/24)|int }} days"
                                             data-toggle="tooltip">
                                            <i class="fas fa-clock"></i><b> Time</b><br>
                                            {{ media_data['total_spent_hour'] }} h
                                        </div>
                                    </div>
                                    <div class="col-6 m-b-10" style="margin-left: -10px;">
                                        <div class="p-2" data-toggle="tooltip" title="Total media, with eps">
                                            <i class="fas fa-play"></i><b class="m-l-3"> Media</b><br>
                                            {{ media_data['total_media_and_eps'] }}
                                        </div>
                                    </div>
                                    <div class="col-6 m-b-10">
                                        <div class="p-2" data-toggle="tooltip" title="Total media scored">
                                            <i class="fas fa-align-justify"></i><b class="m-l-4"> Scored</b><br>
                                            {{ media_data['total_score'] }}/{{ media_data['total_media'] }}
                                        </div>
                                    </div>
                                    <div class="col-6 m-b-10" style="margin-left: -10px;">
                                        <div class="p-2" data-toggle="tooltip" title="Total mean score">
                                            <i class="fas fa-star"></i><b> Score</b><br>
                                            {{ media_data['total_mean_score'] }}/10
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><b>

                        <section class="series-stats m-b-30">
                            <div class="row no-gutters p-2" style="background: #232120;">
                                <div class="col-xl-3 col-lg-12 col-sm-12 text-center evenly-spaced">
                                    <h6 class="media-stats-title p-1" style="background: rgba(33, 110, 125, 0.3);">
                                        <a class="text-light" href="{{ url_for('main.mymedialist',
                                        media_list='serieslist', user_name=user.username) }}"><b>SERIES</b></a>
                                    </h6>
                                    <div><i class="fas fa-clock"></i>
                                            &nbsp; {{ media_data['series']['time_spent_day'] }}
                                        </div>
                                    <div><i class="fas fa-star"></i>
                                            &nbsp; {{ media_data['series']['media_score']['mean_score'] }}/10
                                        </div>
                                    <div><i class="fas fa-align-justify"></i>
                                            &nbsp; {{ media_data['series']['media_score']
                                            ['scored_media'] }}/{{ media_data['series']['media_score']['total_media'] }}
                                        </div>
                                </div>
                                <div class="col">
                                    {% if media_data['series']['media_count_score']|sum != 0 %}
                                        <div class="histogram-wrapper m-b-2">
                                            <ul id="series-score" class="added-styles"></ul>
                                        </div>
                                    {% endif %}
                                    <div id="SERIES" class="stat-text m-b-8">
                                <figure style="margin-top: -8px;">
                                    {% if media_data['series']['media_count']['nodata'] %}
                                        <span class="block-no-data" data-toggle="tooltip" title="No data">
                                    <span id="100%" class="value"></span>
                                </span>
                                    {% else %}
                                        <span class="block" data-toggle="tooltip" title="Watching">
                                    <span id="{{ media_data['series']['media_count']['Watching']['percent'] }}%"
                                          class="value"></span>
                                </span>
                                        <span class="block" data-toggle="tooltip" title="Completed">
                                    <span id="{{ media_data['series']['media_count']['Completed']
                                    ['percent'] }}%" class="value"></span>
                                </span>
                                        <span class="block" data-toggle="tooltip" title="On Hold">
                                    <span id="{{ media_data['series']['media_count']['On Hold']['percent'] }}%"
                                          class="value"></span>
                                </span>
                                        <span class="block" data-toggle="tooltip" title="Random">
                                    <span id="{{ media_data['series']['media_count']['Random']['percent'] }}%"
                                          class="value"></span>
                                </span>
                                        <span class="block" data-toggle="tooltip" title="Dropped">
                                    <span id="{{ media_data['series']['media_count']['Dropped']['percent'] }}%"
                                          class="value"></span>
                                </span>
                                        <span class="block" data-toggle="tooltip" title="Plan to Watch">
                                    <span id="{{ media_data['series']['media_count']['Plan to Watch']
                                    ['percent'] }}%" class="value"></span>
                                </span>
                                    {% endif %}
                                </figure>
                                <div class="row stat-text p-t-5" style="clear: both;">
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=user.username, category='Watching') }}">Watching</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Watching']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=user.username, category='Dropped') }}">Dropped</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Dropped']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=user.username, category='Completed') }}">Completed</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Completed']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=user.username, category='Plan to Watch') }}">
                                            P. to Watch</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Plan to Watch']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=user.username, category='On Hold') }}">On Hold</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['On Hold']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=user.username, category='All') }}">Total Series</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['total'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='serieslist',
                                user_name=user.username, category='Random') }}">Random</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_count']['Random']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span>Episodes</span>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['series']['media_total_eps'] }}</span>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </section>

                        <section class="anime-stats m-b-30">
                            <div class="row no-gutters p-2" style="background: #232120;">
                                <div class="col-xl-3 col-lg-12 col-sm-12 text-center evenly-spaced">
                                    <h6 class="media-stats-title p-1" style="background: rgba(148, 81, 65, 0.3);">
                                        <a class="text-light" href="{{ url_for('main.mymedialist',
                                        media_list='animelist', user_name=user.username) }}"><b>ANIME</b></a>
                                    </h6>
                                    <div><i class="fas fa-clock"></i>
                                        &nbsp; {{ media_data['anime']['time_spent_day'] }}
                                    </div>
                                    <div><i class="fas fa-star"></i>
                                        &nbsp; {{ media_data['anime']['media_score']['mean_score'] }}/10
                                    </div>
                                    <div><i class="fas fa-align-justify"></i>
                                        &nbsp; {{ media_data['anime']['media_score']
                                        ['scored_media'] }}/{{ media_data['anime']['media_score']['total_media'] }}
                                    </div>
                                </div>
                                <div class="col">
                                    {% if media_data['anime']['media_count_score']|sum != 0 %}
                                        <div class="histogram-wrapper m-b-2">
                                            <ul id="anime-score" class="added-styles"></ul>
                                        </div>
                                    {% endif %}
                                    <div id="ANIME" class="stat-text m-b-8">
                                <figure style="margin-top: -8px;">
                                    {% if media_data['anime']['media_count']['nodata'] %}
                                        <span class="block-no-data" data-toggle="tooltip" title="No data">
                                            <span id="100%" class="value"></span>
                                        </span>
                                    {% else %}
                                        <span class="block" data-toggle="tooltip" title="Watching">
                                        <span id="{{ media_data['anime']['media_count']['Watching']['percent'] }}%"
                                              class="value"></span>
                                    </span>
                                        <span class="block" data-toggle="tooltip" title="Completed">
                                        <span id="{{ media_data['anime']['media_count']['Completed']
                                        ['percent'] }}%" class="value"></span>
                                    </span>
                                        <span class="block" data-toggle="tooltip" title="On Hold">
                                        <span id="{{ media_data['anime']['media_count']['On Hold']['percent'] }}%"
                                              class="value"></span>
                                    </span>
                                        <span class="block" data-toggle="tooltip" title="Random">
                                        <span id="{{ media_data['anime']['media_count']['Random']['percent'] }}%"
                                              class="value"></span>
                                    </span>
                                        <span class="block" data-toggle="tooltip" title="Dropped">
                                        <span id="{{ media_data['anime']['media_count']['Dropped']['percent'] }}%"
                                              class="value"></span>
                                    </span>
                                        <span class="block" data-toggle="tooltip" title="Plan to Watch">
                                        <span id="{{ media_data['anime']['media_count']['Plan to Watch']
                                        ['percent'] }}%" class="value"></span>
                                    </span>
                                    {% endif %}
                                </figure>
                                <div class="row stat-text p-t-5" style="clear: both;">
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='animelist',
                                        user_name=user.username, category='Watching') }}">Watching:</a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Watching']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="{{ url_for('main.mymedialist',
                                        media_list='animelist', user_name=user.username,
                                        category='Dropped') }}">
                                            Dropped:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Dropped']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="{{ url_for('main.mymedialist',
                                        media_list='animelist', user_name=user.username,
                                        category='Completed') }}">
                                            Completed:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Completed']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="{{ url_for('main.mymedialist',
                                        media_list='animelist', user_name=user.username,
                                        category='Plan to Watch') }}">
                                            P. to Watch:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']
                                        ['Plan to Watch']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="{{ url_for('main.mymedialist',
                                        media_list='animelist', user_name=user.username,
                                        category='On Hold') }}">
                                            On Hold:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['On Hold']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="{{ url_for('main.mymedialist',
                                         media_list='animelist', user_name=user.username, category='All') }}">
                                            Total Anime:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">
                                            {{ media_data['anime']['media_count']['total'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a class="stat-text" href="{{ url_for('main.mymedialist',
                                        media_list='animelist', user_name=user.username,
                                        category='Random') }}">
                                            Random:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_count']['Random']
                                        ['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span class="stat-text">Episodes:</span>
                                    </div>
                                    <div class="col-2">
                                        <span class="stat-text">{{ media_data['anime']['media_total_eps'] }}</span>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </section>

                        <section class="movies-stats m-b-30">
                            <div class="row no-gutters p-2" style="background: #232120;">
                                <div class="col-xl-3 col-lg-12 col-sm-12 text-center evenly-spaced">
                                    <h6 class="media-stats-title p-1" style="background: rgba(140, 120, 33, 0.3);">
                                        <a class="text-light" href="{{ url_for('main.mymedialist',
                                        media_list='movieslist', user_name=user.username) }}"><b>MOVIES</b></a>
                                    </h6>
                                    <div><i class="fas fa-clock"></i>
                                        &nbsp; {{ media_data['movies']['time_spent_day'] }}
                                    </div>
                                    <div><i class="fas fa-star"></i>
                                        &nbsp; {{ media_data['movies']['media_score']['mean_score'] }}/10
                                    </div>
                                    <div><i class="fas fa-align-justify"></i>
                                        &nbsp; {{ media_data['movies']['media_score']
                                        ['scored_media'] }}/{{ media_data['movies']['media_score']['total_media'] }}
                                    </div>
                                </div>
                                <div class="col">
                                    {% if media_data['movies']['media_count_score']|sum != 0 %}
                                        <div class="histogram-wrapper m-b-2">
                                    <ul id="movies-score" class="added-styles"></ul>
                                </div>
                                    {% endif %}
                                    <div id="MOVIES" class="stat-text m-b-8">
                                <figure style="margin-top: -8px;">
                                    {% if media_data['movies']['media_count']['nodata'] %}
                                        <span class="block-no-data" data-toggle="tooltip" title="No data">
                                            <span id="100%" class="value"></span>
                                        </span>
                                    {% else %}
                                        <span class="block-movie" data-toggle="tooltip" title="Completed">
                                            <span id="{{ media_data['movies']['media_count']['Completed']
                                            ['percent'] }}%" class="value"></span>
                                        </span>
                                        <span class="block-movie" data-toggle="tooltip" title="Plan to Watch">
                                            <span id="{{ media_data['movies']['media_count']['Plan to Watch']
                                            ['percent'] }}%" class="value"></span>
                                        </span>
                                    {% endif %}
                                </figure>
                                <div class="row stat-text p-t-5" style="clear: both;">
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='movieslist',
                                        user_name=user.username, category='Completed') }}">Completed:</a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['movies']['media_count']['Completed']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='movieslist',
                                        user_name=user.username, category='Plan to Watch') }}">
                                            P. to Watch:
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['movies']['media_count']['Plan to Watch']['count'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{ url_for('main.mymedialist', media_list='movieslist',
                                        user_name=user.username, category='All') }}">
                                            Total Movies
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['movies']['media_count']['total'] }}</span>
                                    </div>
                                    <div class="col-4">
                                        <span data-toggle="tooltip" title="Counting the rewatched">Total Seen:</span>
                                    </div>
                                    <div class="col-2">
                                        <span>{{ media_data['movies']['media_total_eps'] }}</span>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </section>

                        {% if user.add_games %}
                            <section class="games-stats">
                                <div class="row no-gutters p-2" style="background: #232120;">
                                    <div class="col-xl-3 col-lg-12 col-sm-12 text-center evenly-spaced">
                                        <h6 class="media-stats-title p-1" style="background: rgba(25, 98, 25, 0.3);">
                                            <a class="text-light" href="{{ url_for('main.mymedialist',
                                            media_list='gameslist', user_name=user.username) }}"><b>GAMES</b></a>
                                        </h6>
                                        <div><i class="fas fa-clock"></i>
                                            &nbsp; {{ media_data['games']['time_spent_day'] }}
                                        </div>
                                        <div><i class="fas fa-star"></i>
                                            &nbsp; {{ media_data['games']['media_score']['mean_score'] }}/10
                                        </div>
                                        <div><i class="fas fa-align-justify"></i>
                                            &nbsp; {{ media_data['games']['media_score']
                                            ['scored_media'] }}/{{ media_data['games']['media_score']['total_media'] }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        {% if media_data['games']['media_count_score']|sum != 0 %}
                                            <div class="histogram-wrapper m-b-2">
                                                <ul id="games-score" class="added-styles"></ul>
                                            </div>
                                        {% endif %}
                                        <div id="GAMES" class="stat-text m-b-8">
                                            <figure style="margin-top: -8px;">
                                                {% if media_data['games']['media_count']['nodata'] %}
                                                    <span class="block-no-data" data-toggle="tooltip" title="No data">
                                                <span id="100%" class="value"></span>
                                            </span>
                                                {% else %}
                                                    <span class="block" data-toggle="tooltip" title="Completed">
                                                <span id="{{ media_data['games']['media_count']['Completed']
                                                ['percent'] }}%" class="value"></span>
                                            </span>
                                                    <span class="block" data-toggle="tooltip" title="Endless">
                                                <span id="{{ media_data['games']['media_count']['Endless']
                                                ['percent'] }}%" class="value"></span>
                                            </span>
                                                    <span class="block" data-toggle="tooltip" title="Multiplayer">
                                                <span id="{{ media_data['games']['media_count']['Multiplayer']
                                                 ['percent'] }}%" class="value"></span>
                                            </span>
                                                {% endif %}
                                            </figure>
                                            <div class="row stat-text p-t-5" style="clear: both;">
                                                <div class="col-4">
                                                    <a class="stat-text" href="{{ url_for('main.mymedialist', media_list='gameslist',
                                             user_name=user.username, category='Completed') }}">
                                                        Completed:
                                                    </a>
                                                </div>
                                                <div class="col-2">
                                                    <span class="stat-text">{{ media_data['games']['media_count']['Completed']['count'] }}</span>
                                                </div>
                                                <div class="col-4">
                                                    <a class="stat-text" href="{{ url_for('main.mymedialist', media_list='gameslist',
                                             user_name=user.username, category='Multiplayer') }}">
                                                        Multiplayer:
                                                    </a>
                                                </div>
                                                <div class="col-2">
                                                    <span class="stat-text">{{ media_data['games']['media_count']['Multiplayer']['count'] }}</span>
                                                </div>
                                                <div class="col-4">
                                                    <a class="stat-text" href="{{ url_for('main.mymedialist', media_list='gameslist',
                                             user_name=user.username, category='Endless') }}">
                                                        Endless:
                                                    </a>
                                                </div>
                                                <div class="col-2">
                                                    <span class="stat-text">{{ media_data['games']['media_count']['Endless']['count'] }}</span>
                                                </div>
                                                <div class="col-4">
                                                    <a class="stat-text" href="{{ url_for('main.mymedialist', media_list='gameslist',
                                             user_name=user.username, category='All') }}">
                                                        Total Games:
                                                    </a>
                                                </div>
                                                <div class="col-2">
                                                    <span class="stat-text">{{ media_data['games']['media_count']['total'] }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        {% endif %}

                    </b></li>
                </ul>
            </div>
            <div class="vertical-line"></div>
            <div class="col-xl-3 col-lg col-md">
                <ul class="list-unstyled">
                    <li class="m-b-20">
                        <h4><i class="fas fa-user-check"></i>&nbsp;&nbsp; Follows
                            {% set follows = user.followed.all() %}
                            <form id='all_follows' style="display: inline;" method="POST"
                                  action={{ url_for('users.account', user_name=user.username) }}>
                                <input class="d-none" name="all_follows" value="True">
                                <a onclick="$('#all_follows').submit()" class="more-link">
                                    <u><i>All ({{ follows|length }})</i></u>
                                </a>
                            </form>
                        </h4><hr>
                        <div class='row no-gutters text-center' style="margin-bottom: -15px;">
                            {% if follows %}
                                {% for follow in follows %}
                                    {% if loop.index0 < 12 %}
                                        <div class="col-3 m-b-15">
                                            <a href="{{ follow.username }}">
                                                <img class="follow-img" data-toggle="tooltip" title="{{ follow.username }}"
                                                     src="/static/profile_pics/{{ follow.image_file }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="m-b-10" style="color: grey;"><i>No follows to display.</i></div>
                            {% endif %}
                        </div>
                        {% if current_user.get_id() == user.id %}
                            <div class="m-t-15"></div>
                            <a class="btn hof-button" href="{{ url_for('users.hall_of_fame') }}">Hall of Fame</a>
                        {% endif %}
                    </li>
                    <li class="m-b-20">
                        <h4><i class="fas fa-bell text-light"></i>&nbsp;&nbsp; Follows' Updates</h4>
                        <hr class='m-b-8'>
                        {% if follows_updates %}
                            {% for update in follows_updates %}
                                <div class="update-box" style="border-color: {{ update['border'] }};">
                                    <a class="text-light truncate" href="{{ url_for('main.media_sheet',
                                    media_type=update['category'], media_id=update['media_id']) }}">
                                        <i class="{{ update['icon-color'] }} m-r-10" data-toggle="tooltip"
                                           title="{{ update['category'] }}"></i>
                                        {{ update['media_name'] }}
                                    </a>
                                    <div class="m-l-35" style="font-size: 11pt;">
                                        {% if update['update']|length == 2 %}
                                            {{ update['update'][0] }}
                                            <i class="fas fa-long-arrow-alt-right m-l-4 m-r-4"></i>
                                            {{ update['update'][1] }}
                                        {% else %}
                                            {{ update['update'][0] }}
                                        {% endif %}
                                    </div>
                                    <span class="m-l-35" style="color: #b3b3b3; font-size: 10pt;">
                                        <script>
                                            var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                                            var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB",
                                                {timeZone: tz});
                                            var d = new Date("{{ update['date'] }}")
                                            var month = new Array();
                                            month[0] = "Jan";
                                            month[1] = "Feb";
                                            month[2] = "Mar";
                                            month[3] = "Apr";
                                            month[4] = "May";
                                            month[5] = "Jun";
                                            month[6] = "Jul";
                                            month[7] = "Aug";
                                            month[8] = "Sep";
                                            month[9] = "Oct";
                                            month[10] = "Nov";
                                            month[11] = "Dec";
                                            var date_month = month[d.getMonth()];
                                            var date_day = localdate.slice(0, 2);
                                            var date_time = localdate.slice(11, 17)
                                            document.write(date_day + " " + date_month + " at " + date_time)
                                        </script>
                                        by
                                    </span>
                                    <a href="/account/{{ update['username'] }}" style="color: #359aff; font-size: 10pt;">
                                        {{ update['username'] }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="m-b-10" style="color: grey;"><i>No updates to display.</i></div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock data %}


{% block added_js %}
    <script>
        // Recover the histograms values
        const histogramValues_series = {{ media_data['series']['media_count_score'] }};
        const histogramValues_anime = {{ media_data['anime']['media_count_score'] }};
        const histogramValues_movies = {{ media_data['movies']['media_count_score'] }};
        {% if user.add_games %}
            const histogramValues_games = {{ media_data['games']['media_count_score'] }};
        {% else %}
            const histogramValues_games = 0;
        {% endif %}

        // Max value of each histogram array
        const maxValue_series = Math.max(...histogramValues_series);
        const maxValue_anime = Math.max(...histogramValues_anime);
        const maxValue_movies = Math.max(...histogramValues_movies);
        const maxValue_games = Math.max(...histogramValues_games);

        // Turn histogram numbers into histogram li items
        let i = -0.5;
        const histogram_series = histogramValues_series.reduce((acc, number) => {
            // Getting a percentage of the max
            const height = number/maxValue_series*100;
            i += 0.5;
            // Adding 1px so there's an indication of 0
            return acc + `<li class="histogram-item-series" data-toggle="tooltip" title="`+i+`/10: `+number+` series" style="height: calc(${height}% + 1px)" />`
        }, ``);

        // Inject into dom
        const series_chart = document.getElementById('series-score');
        try {
            series_chart.innerHTML = histogram_series
        } catch {}


        // Turn histogram numbers into histogram li items
        i = -0.5;
        const histogram_anime = histogramValues_anime.reduce((acc, number) => {
            // Getting a percentage of the max
            const height = number/maxValue_anime*100;
            i += 0.5;
            // Adding 1px so there's an indication of 0
            return acc + `<li class="histogram-item-anime" data-toggle="tooltip" title="`+i+`/10: `+number+` anime" style="height: calc(${height}% + 1px)" />`
        }, ``);
        // Inject into dom
        const anime_chart = document.getElementById('anime-score');
        try {
            anime_chart.innerHTML = histogram_anime
        } catch {}


        // Turn histogram numbers into histogram li items
        i = -0.5;
        const histogram_movies = histogramValues_movies.reduce((acc, number) => {
            // Getting a percentage of the max
            const height = number/maxValue_movies * 100;
            i += 0.5;
            // Adding 1px so there's an indication of 0
            return acc + `<li class="histogram-item-movies" data-toggle="tooltip" title="`+i+`/10: `+number+` movies" style="height: calc(${height}% + 1px)" />`
        }, ``);
        // Inject into dom
        const movies_chart = document.getElementById('movies-score');
        try {
            movies_chart.innerHTML = histogram_movies
        } catch {}


        // Turn histogram numbers into histogram li items
        i = -0.5;
        const histogram_games = histogramValues_games.reduce((acc, number) => {
            // Getting a percentage of the max
            const height = number/maxValue_games * 100;
            i += 0.5;
            // Adding 1px so there's an indication of 0
            return acc + `<li class="histogram-item-games" data-toggle="tooltip" title="`+i+`/10: `+number+` games" style="height: calc(${height}% + 1px)" />`
        }, ``);
        // Inject into dom
        const games_chart = document.getElementById('games-score');
        try {
            games_chart.innerHTML = histogram_games
        } catch {}
    </script>
{% endblock added_js %}
