{% extends "account_header.html" %}


{% block added_css %}
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/all_history.css') }}" rel="stylesheet">
{% endblock added_css %}


{% block data %}
    <h4><i class="fas fa-highlighter m-t-15"></i>&nbsp; All Updates</h4>
    <hr>
    <div class="m-b-30">
         <a class="text-light" href="{{ url_for('users.account', user_name=user.username) }}">
            <i class="fas fa-caret-left"></i>&nbsp;&nbsp; <b>Return to account</b>
        </a>
    </div>
    <div class="all-history ml-auto mr-auto" style="margin-top: -13px;">
        <table id="all-history" class="table text-light m-t-20 text-center ml-auto mr-auto">
            <thead>
            <tr>
                <th>Media type</th>
                <th>Media name</th>
                <th>Update</th>
                <th>date</th>
            </tr>
            </thead>
            <tbody>
            {% for update in media_updates %}
                <tr>
                    <td>
                        {% if update['category'] == 'Series' %}
                            <i class="fas fa-2x fa-tv" style="color: #216e7d;"></i>
                        {% elif update['category'] == 'Movies' %}
                            <i class="fas fa-2x fa-film" style="color: #8c7821;"></i>
                        {% elif update['category'] == 'Games' %}
                            <i class="fas fa-2x fa-gamepad" style="color: #196219;"></i>
                        {% endif %}
                    </td>
                    <td>{{ update['media_name'] }}</td>
                    <td>
                        {% if update['update']|length == 2 %}
                            {{ update['update'][0] }}
                            &nbsp;&nbsp;<i class="fas fa-long-arrow-alt-right"></i>&nbsp;&nbsp;
                            {{ update['update'][1] }}</td>
                        {% else %}
                            {{ update['update'][0] }}
                        {% endif %}
                    <td>
                        <script>
                            var tz = new Intl.DateTimeFormat().resolvedOptions().timeZone;
                            var localdate = new Date("{{ update['date'] }}").toLocaleString("en-GB", {timeZone: tz});
                            var d = new Date("{{ update['date'] }}")
                            var month = new Array();
                            month[0] = "Jan";
                            month[1] = "Feb";
                            month[2] = "Mar";
                            month[3] = "Apr";
                            month[4] = "May";
                            month[5] = "Jun";
                            month[6] = "Jul";
                            month[7] = "Aug";
                            month[8] = "Sep";
                            month[9] = "Oct";
                            month[10] = "Nov";
                            month[11] = "Dec";
                            var date_month = month[d.getMonth()];
                            var date_day = localdate.slice(0, 2);
                            var date_time = localdate.slice(11, 17)
                            document.write(date_day + " " + date_month + " at " + date_time)
                        </script>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock data %}


{% block added_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/all_history.js') }}"></script>
{% endblock added_js %}
