{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">
    {% block added_css %}
    {% endblock added_css %}
{% endblock css %}


{% block content %}
    <div class="header-container" style="background-image: url('{{ url_for("static",
     filename="background_pics/" + user.background_image) }}');">
        {% if current_user.get_id() == user.id %}
            <a class="header-back-pen" href="/settings?from=back_pic" data-toggle="tooltip" data-placement="bottom"
             title="Change your background"><i class="fas fa-lg fa-pen"></i></a>
        {% endif %}
        <div class="header-profile-container" {% if frame['frame_level'] < 36 %} style="left: -10px; {% endif %}">
            {% if current_user.get_id() == user.id %}
                <a href="/settings?from=profile_pic">
                    <img class="header-profile-img on-hover" data-toggle="tooltip" title="Change your picture"
                     src="{{ url_for("static", filename="profile_pics/" + user.image_file) }}" alt=""/>
                </a>
            {% else %}
                <img class="header-profile-img" src="{{ url_for("static",
                 filename="profile_pics/" + user.image_file) }}" alt=""/>
            {% endif %}
            <img class="header-profile-frame" src="{{ frame['frame_id'] }}.png" alt=""/>
            <div class="header-knowledge-level text-center">{{ frame['level'] }}</div>
        </div>
        <div class="header-profile-data" {% if frame['frame_level'] < 36 %} style="left: 200px; {% endif %}">
            <h2 class="profile-name add-shadow"><b>{{ user.username }}</b>
                {% if current_user.get_id() != user.id  %}
                    {% if current_user.is_following(user) %}
                        <a class=" m-l-10 fas fa-xs fa-user-minus" data-toggle="tooltip" title="Unfollow"
                         style="color: indianred;" value='1' onclick="follow_status(this, '{{ user.id }}')"></a>
                    {% else %}
                        <a class=" m-l-10 fas fa-xs fa-user-plus" data-toggle="tooltip" title="Follow"
                         style="color: cadetblue;" value='0' onclick="follow_status(this, '{{ user.id }}')"></a>
                    {% endif %}
                    <i id="load_{{ user.id }}" class="fas fa-spinner fast-spin" style="display: none;"></i>
                {% endif %}
            </h2>
            <div class="add-shadow">
                <b>Joined: {{ user.registered_on.strftime('%d %b %Y') }}</b><br>
                <form id="all_followers" method="POST" action="{{ url_for('users.account', user_name=user.username) }}"
                 style="display: inline;">
                    <input class="d-none" name="all_followers" value="True">
                    <a onclick="$('#all_followers').submit()"><b>Followers: {{ user.followers.count() }}</b></a>
                </form>
            </div>
        </div>
        <div class="header-profile-data-mobile text-center">
            <h4 class="p-0 m-0 add-shadow"><b>{{ user.username }}</b>
                <div style="display: inline;">
                    {% if current_user.get_id() != user.id  %}
                        {% if current_user.is_following(user) %}
                            <a class=" m-l-10 fas fa-xs fa-user-minus" data-toggle="tooltip" title="Unfollow"
                             style="color: indianred;" value='1' onclick="follow_status(this, '{{ user.id }}')"></a>
                        {% else %}
                            <a class=" m-l-10 fas fa-xs fa-user-plus" data-toggle="tooltip" title="Follow"
                             style="color: cadetblue;" value='0' onclick="follow_status(this, '{{ user.id }}')"></a>
                        {% endif %}
                        <i id="load_{{ user.id }}" class="fas fa-spinner fast-spin" style="display: none;"></i>
                    {% endif %}
                </div>
            </h4>
            <div class="header-join-follow add-shadow">
                <b>Joined: {{ user.registered_on.strftime('%d %b %Y') }}</b><br>
                <form id='all_followers' style="display: inline;" method="POST" action={{ url_for('users.account',
                 user_name=user.username) }}>
                    <input class="d-none" name="all_followers" value="True">
                    <a onclick="$('#all_followers').submit()"><b>Followers: {{ user.followers.count() }}</b></a>
                </form>
            </div>
        </div>
    </div>
    {% block data scoped %}
    {% endblock data %}
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/account.js') }}"></script>
    {% block added_js %}
    {% endblock added_js %}
{% endblock script %}
