{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/current_trends.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h2 class="font-weight-light text-center mt-1 mb-0 p-t-50">TRENDING SERIES</h2>
    <hr class="mt-2 mb-0">
    <div id="series-sly" class="frame">
        <div class="slide">
            {% for series in series_trends %}
                <div class="media bg-series">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <img src="{{ series['poster_path'] }}" class="card-img" alt="">
                        </div>
                        <div class="col-7">
                            <div class="p-3">
                                <h5>
                                    <a class="text-light ellipsis-title" href="{{ series['tmdb_link'] }}"
                                       target="_blank">{{ series['display_name'] }}</a>
                                    <hr class="mt-1 mb-1" style="border-top: 1px solid #bfbfbf;">
                                    <div class="fs-13 text-grey"><i>{{ series['release_date'] }}</i></div>
                                </h5>
                                <p class="card-text text-light text-justify ellipsis-mob">{{ series['overview'] }}</p>
                                <p class="card-hashtag text-light fs-20">#{{ loop.index0 + 1 }}</p>
                            </div>
                        </div>
                    </div>
                    <p class="card-hashtag text-light fs-20">#{{ loop.index0 + 1 }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2 class="font-weight-light text-center mt-1 mb-0 p-t-50">TRENDING MOVIES</h2>
    <hr class="mt-2 mb-0">
    <div id="movies-sly" class="frame m-b-50">
        <div class="slide">
            {% for movies in movies_trends %}
                <div class="card media bg-movies">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <img src="{{ movies['poster_path'] }}" class="card-img" alt="">
                        </div>
                        <div class="col-7">
                            <div class="card-body p-3">
                                <h5 class="card-title">
                                    <a class="text-light ellipsis-title" href="{{ movies['tmdb_link'] }}" target="_blank">
                                        {{ movies['display_name'] }}
                                    </a>
                                    <hr class="mt-1 mb-1" style="border-top: 1px solid #bfbfbf;">
                                    <div class="fs-13 text-grey"><i>{{ movies['release_date'] }}</i></div>
                                </h5>
                                <p class="card-text text-light text-justify ellipsis-mob">{{ movies['overview'] }}</p>
                            </div>
                        </div>
                    </div>
                    <p class="card-hashtag text-light fs-20">#{{ loop.index0 + 1 }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script src="{{ url_for('static', filename='js/sly.js') }}"></script>
    <script>
        let options = {
            horizontal: true,
            speed: 200,
            itemNav: 'basic',
            mouseDragging: true,
            touchDragging: true,
            scrollBy: true,
        };
        new Sly('#series-sly', options).init();
        new Sly('#movies-sly', options).init();
    </script>
{% endblock script %}
