{% extends "layout.html" %}


{% block content %}
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block m-t-20">{{ error_code }}</span>
                    {% if error_code == 400 %}
                        <div class="mb-4 lead">You made an invalid request.</div>
                    {% elif error_code == 403 %}
                        <div class="mb-4 lead">You do not have the necessary permissions.</div>
                    {% elif error_code == 404 %}
                        <div class="mb-4 lead">The requested resource could not be found.</div>
                    {% elif error_code == 410 %}
                        <div class="mb-4 lead">The requested resource is no longer available.</div>
                    {% elif error_code == 413 %}
                        <div class="mb-4 lead">The data value transmitted exceeds the capacity limit.</div>
                    {% elif error_code == 500 %}
                        <div class="mb-4 lead">There was an internal server error.</div>
                    {% else %}
                        <div class="mb-4 lead">R.I.P</div>
                    {% endif %}
                    <img class="card-img-top m-t-30" src="{{ image_error }}" style="max-width: 500px;" alt="Error"/>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}