{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hall_of_fame.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h3 class="mb-0 m-t-50 text-center"><b>FOLLOWED HALL OF FAME</b></h3>
    <hr class="mt-2 mb-0">
    <div class="m-t-30 hof ml-auto mr-auto m-b-60">
        <table id="hall_of_fame" class="table table-responsive-sm text-light">
            <thead>
            <tr>
                <th class="text-center">Global grade</th>
                <th class="text-center">name</th>
                <th class="text-center">Series</th>
                <th class="text-center">Movies</th>
                <th class="text-center">Books</th>
                <th class="text-center">Games</th>
            </tr>
            </thead>
            <tbody>
                {% for user in all_data %}
                    <tr class="{% if user['current_user'] %} current_user {% endif %}">
                        <td style="min-width: 180px; max-width: 180px;">
                            <div style="position: relative;">
                                <img class="profile-picture" src="/static/profile_pics/{{ user['profile'] }}" alt="">
                                <img class="frame-picture" src="{{ user['knowledge_frame']['frame_id'] }}.png" alt="">
                                <div class="frame-level">{{ user['knowledge_frame']['level'] }}</div>
                            </div>
                        </td>
                        <td>
                            <a href="{{ url_for('users.account', user_name=user['name']) }}">
                                <b>{{ user['name'] }}</b>
                            </a>
                        </td>
                        <td>
                            <a class="text-light" href="{{ url_for('main.mymedialist', media_list='serieslist',
                            user_name=user['name']) }}">
                                <img class="grade_picture" src="{{ user['series_data']['grade_id'] }}.png" alt="">
                                <br>{{ user['series_data']['level'] }}
                            </a>
                        </td>
                        <td>
                            <a class="text-light" href="{{ url_for('main.mymedialist', media_list='movieslist',
                            user_name=user['name']) }}">
                                <img class="grade_picture" src="{{ user['movies_data']['grade_id'] }}.png" alt="">
                                <br>{{ user['movies_data']['level'] }}
                            </a>
                        </td>
                        <td>
                            {% if user['add_books'] %}
                                <a class="text-light" href="{{ url_for('main.mymedialist', media_list='bookslist',
                                user_name=user['name']) }}">
                                    <img class="grade_picture" src="{{ user['books_data']['grade_id'] }}.png" alt="">
                                    <br>{{ user['books_data']['level'] }}
                                </a>
                            {% else %}
                                <span>Not<br>activated</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if user['add_games'] %}
                                <a class="text-light" href="{{ url_for('main.mymedialist', media_list='gameslist',
                                user_name=user['name']) }}">
                                    <img class="grade_picture" src="{{ user['games_data']['grade_id'] }}.png" alt="">
                                    <br>{{ user['games_data']['level'] }}
                                </a>
                            {% else %}
                                <span>Not<br>activated</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hall_of_fame.js') }}"></script>
{% endblock script %}

