{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <style>
        body {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
            background: #070a0c;
            margin: 0;
            color: #e2e2e2;
        }
    </style>
{% endblock %}


{% block home_header %}
    <div style="position: relative; margin-top: -75px;">
        <div style="background-image: url('/static/img/home1.jpg'); background-size: cover;
         background-position: center; height: 600px;"></div>
        <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);">
            <h1 class="title text-center"><b>Welcome to MyLists</b></h1>
        </div>
        <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);">
            <div class="fs-20 subtitle text-center"><b>Want to try it?</b></div>
        </div>
        <div style="position: absolute; top: 78%; left: 50%; transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);">
            <a class="btn title-button" data-toggle="tooltip" title="Coming Soon!">Test version</a>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <h4 class="modal-title"><b>Login</b></h4>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="">
                            <fieldset>
                                {{ login_form.hidden_tag() }}
                                <div class="md-form">
                                    {% if login_form.login_username.errors %}
                                        {{ login_form.login_username(class="form-control-home is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in login_form.login_username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ login_form.login_username(class="form-control-home text-light",
                                    placeholder="Username") }}
                                    {% endif %}
                                </div>
                                <div class="md-form">
                                    {% if login_form.login_password.errors %}
                                        {{ login_form.login_password(class="form-control-home is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in login_form.login_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ login_form.login_password(class="form-control-home text-light",
                                    placeholder="Password") }}
                                    {% endif %}
                                </div>
                                <div class="form-check m-b-10">
                                    {{ login_form.login_remember(class="form-check-input") }}
                                    {{ login_form.login_remember.label(class="form-check-label") }}
                                </div>
                                <div class="text-center m-b-10">
                                    {{ login_form.login_submit(class="btn btn-outline-info") }}
                                </div>
                            </fieldset>
                        </form>
                        <div class="text-center">
                            <a href="{{ url_for('auth.reset_password') }}"><b>Forgot Password?</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="">
                            {{ register_form.hidden_tag() }}
                            <fieldset>
                                <div class="md-form m-l-10 m-r-10">
                                    {% if register_form.register_username.errors %}
                                        {{ register_form.register_username(class="form-control-home is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in register_form.register_username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ register_form.register_username(class="form-control-home text-light",
                                    placeholder="Username") }}
                                    {% endif %}
                                </div>

                                <div class="md-form m-l-10 m-r-10">
                                    {% if register_form.register_email.errors %}
                                        {{ register_form.register_email(class="form-control-home is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in register_form.register_email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ register_form.register_email(class="form-control-home text-light",
                                    placeholder="E-mail") }}
                                    {% endif %}
                                </div>

                                <div class="md-form m-l-10 m-r-10">
                                    {% if register_form.register_password.errors %}
                                        {{ register_form.register_password(class="form-control-home is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in register_form.register_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ register_form.register_password(class="form-control-home text-light",
                                    placeholder="Password") }}
                                    {% endif %}
                                </div>

                                <div class="md-form m-l-10 m-r-10">
                                    {% if register_form.register_confirm_password.errors %}
                                        {{ register_form.register_confirm_password(class="form-control-home is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in register_form.register_confirm_password.errors %}
                                                {% if error == "Field must be equal to new_password." %}
                                                    <span>New password and confirm new password are different.</span>
                                                {% else %}
                                                    <span>{{ error }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ register_form.register_confirm_password(class="form-control-home text-light",
                                    placeholder="Confirm Password") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="text-center m-b-10">
                                {{ register_form.register_submit(class="btn btn-outline-info") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="main-text m-t-40">
        <div class="row">
            <div class="col-xl-4 text-center">
                <i class="fas fa-2x fa-list" style="color: cornflowerblue;"></i>
                <h4><b>FILL YOUR LISTS</b></h4>
                <p class="p-2 fs-18">
                    Currently supporting TV shows, anime movies, games and books.
                    Get an overall view, all in one place!
                </p>
            </div>
            <div class="col-xl-4 text-center">
                <i class="fas fa-2x fa-clock" style="color: coral;"></i>
                <h4><b>TIME SPENT</b></h4>
                <p class="p-2 fs-18">
                    See how much time you have spent, level up, add score of feels to each media,
                    and get on top of the Hall of Fame!
                </p>
            </div>
            <div class="col-xl-4 text-center">
                <i class="fas fa-2x fa-users" style="color: darkseagreen;"></i>
                <h4><b>FOLLOWS</b></h4>
                <p class="p-2 fs-18">
                   See what your follows have watched or read, get recommendations, and stay updated!
                </p>
            </div>
        </div>
    </section>
    <section class="final-info m-t-50 m-b-50">
        <div class="row">
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-2">
                        <i class="fab fa-bootstrap fa-2x mb-1 indigo-text"></i>
                    </div>
                    <div class="col-10 mb-2">
                        <h4 class="mb-1"><b>Responsive</b></h4>
                        <p class="text-light mt-2">
                            Fully responsive created with <a href="https://mdbootstrap.com/">MDB</a>.
                            Supports PC, tablets, mobile, TV.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-2">
                        <i class="fab fa-github fa-2x mb-1 indigo-text"></i>
                    </div>
                    <div class="col-10 mb-2">
                        <h4 class="mb-1"><b>Open Source</b></h4>
                        <p class="text-light mt-2">
                            Totally open source, made with
                            <a href="https://flask.palletsprojects.com/">Flask</a>.
                            You can find the source code on
                            <a href="https://www.github.com/Crossoufire/MyLists">Github.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-2 text-center">
                        <i class="fas fa-dollar-sign fa-2x mb-1 indigo-text"></i>
                    </div>
                    <div class="col-10 mb-2">
                        <h4 class="mb-1"><b>No ads & 100% free</b></h4>
                        <p class="text-light mt-2">
                            You will not find any ads, we don't do that here. You only need to create an account to
                            access all the content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-comments fa-2x mb-1 indigo-text"></i>
                    </div>
                    <div class="col-10 mb-2">
                        <h4 class="mb-1"><b>Found a bug?</b></h4>
                        <p class="text-light mt-2">You can contact us by e-mail at:
                            <script>
                                let part1 = "contact";
                                let part2 = Math.pow(2, 6);
                                let part3 = String.fromCharCode(part2);
                                let part4 = "mylists.info";
                                let part5 = part1 + String.fromCharCode(part2) + part4;
                                document.write("<a href=" + "mai" + "lto" + ":" + part5 + ">" + part1 + part3 + part4
                                    + "</a>.");
                            </script>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-2">
                        <i class="far fa-smile fa-2x mb-1 indigo-text"></i>
                    </div>
                    <div class="col-10 mb-2">
                        <h4 class="mb-1"><b>Made by 2 persons with ❤</b></h4>
                        <p class="text-light mt-2">Built and kept alive by only 2 people, on their spare time.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                    </div>
                    <div class="col-10 mb-2">
                        <h4 class="mb-1"><b>New features coming</b></h4>
                        <p class="text-light mt-2">We have a ton of ideas, just not enough time. Stay tuned!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block script %}
    <script>
        $('#modalLoginForm').on('shown.bs.modal', function () {
            $('#login_username').focus();
        })

        $('#modalRegisterForm').on('shown.bs.modal', function () {
            $('#register_username').focus();
        })
    </script>
{% endblock script %}
