{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/grades_data.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h2 class="text-center p-t-50">KNOWLEDGE FRAME DATA
        <hr class="mt-2 m-b-25">
    </h2>

    <ul class="details p-t-10 p-b-10 p-r-10">
        <li>Frames created by <a class="text-light" href="/account/Psy"><u>Psy</u></a> using Freepik images</li>
        <li>40 frames. New frame every 8 levels.</li>
        <li>Equation level = ((((400+80*<u>total_time</u>)**(1/2))-20)/40)</li>
        <li>New frame until level 312</li>
    </ul>

    <div class="table-responsive-sm m-t-30 m-b-50 table-style-2">
        <table class="table text-light">
            <thead>
            <tr>
                <th class="text-center fs-20">Frame</th>
                <th class="text-center fs-20">Levels</th>
            </tr>
            </thead>
            <tbody>
            {% for rank in data %}
                <tr>
                    <td class="text-center">
                        <img height='150' width="150" src="static/img/icon_frames/new/{{ rank.image_id }}.png" alt=""/>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        {% if 8*rank.level < 320 %}
                            <strong class="text-center align-middle fs-25">
                                {{ 8*(-1+rank.level) }} - {{ -1 + 8*(rank.level) }}
                            </strong>
                        {% else %}
                            <strong class="text-center align-middle fs-25">{{ 8*(-1+rank.level) }} +</strong>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
