<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Global site tag (gtag.js)/Google Analytics --------------------------------------------------->
    <script async type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-146580264-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-146580264-1');
    </script>

    <!--- <meta> tag to defines metadata about our HTML document --------------------------------------->
    <meta charset="UTF-8">
    <meta name="author" content="Cross">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Mylists, lists, series, tv shows, movies, levels, hall of fame">
    <meta name="description" content="Create your series/anime/movies/books/games list, see how much time you spent
     and gain levels."/>

    <!--- CDN CSS -------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">

    <!--- Website Icon --------------------------------------------------------------------------------->
    <link rel='icon' type='image/gif' href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!--- Custom CSS ----------------------------------------------------------------------------------->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mylists.css') }}">
    {% block css %}
    {% endblock css %}

    <!--- Page Title ----------------------------------------------------------------------------------->
    {% if title %}
        <title>MyLists - {{ title }}</title>
    {% else %}
        <title>MyLists</title>
    {% endif %}
</head>

<body>
<header class="site-header">
    {% if current_user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-0">
            <div class="container">
                <ul class="navbar-nav mr-auto m-l-10">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-22" data-toggle="dropdown">MyLists</a>
                        <div class="dropdown-menu medialist-dropdown">
                            <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                             media_list='serieslist', user_name=current_user.username) }}">
                                <div class="row">
                                    <div class="col-3" style="margin-right: -5px;">
                                        <i class="fas fa-tv text-series"></i>
                                    </div>
                                    <div class="col-9">SeriesList</div>
                                </div>
                            </a>
                            {% if current_user.add_anime %}
                                <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                                 media_list='animelist', user_name=current_user.username) }}">
                                    <div class="row">
                                        <div class="col-3" style="margin-right: -5px;">
                                            <i class="fas fa-torii-gate text-anime"></i>
                                        </div>
                                        <div class="col-9">AnimeList</div>
                                    </div>
                                </a>
                            {% endif %}
                            <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                             media_list='movieslist', user_name=current_user.username) }}">
                                <div class="row">
                                    <div class="col-3" style="margin-right: -5px;">
                                        <i class="fas fa-film text-movies"></i>
                                    </div>
                                    <div class="col-9">MoviesList</div>
                                </div>
                            </a>
                            {% if current_user.add_books %}
                                <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                                 media_list='bookslist', user_name=current_user.username) }}">
                                    <div class="row">
                                        <div class="col-3" style="margin-right: -5px;">
                                            <i class="fas fa-book text-books"></i>
                                        </div>
                                        <div class="col-9">BooksList</div>
                                    </div>
                                </a>
                            {% endif %}
                            {% if current_user.add_games %}
                                <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist',
                                 media_list='gameslist', user_name=current_user.username) }}">
                                    <div class="row">
                                        <div class="col-3" style="margin-right: -5px;">
                                            <i class="fas fa-gamepad text-games"></i>
                                        </div>
                                        <div class="col-9">GamesList</div>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler third-button" data-toggle="collapse" data-target="#nav-collapse"
                 type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <form id="auto-form" class="form-inline nav-form" name="aform" method="GET"
                     action="{{ url_for('main.search_media') }}">
                        <label for="autocomplete"></label>
                        <input id="autocomplete" class="form-control search-ipad-mobile" name="search"
                         placeholder="Search media or users">
                        <label for="select-media"></label>
                        <select id="select-media" class="auto-select" name="media_select">
                            <option class="auto-opt" value="TMDB">Media</option>
                            {% if current_user.add_books %}
                                <option class="auto-opt" value="BOOKS">Books</option>
                            {% endif %}
                            {% if current_user.add_games %}
                                <option class="auto-opt" value="IGDB">Games</option>
                            {% endif %}
                            <option class="auto-opt" value="users">Users</option>
                        </select>
                    </form>
                    <ul class="navbar-nav mr-auto nav-ul-1">
                        <li class="nav-item nav-li-1">
                            <a class="nav-link" href="{{ url_for('general.mylists_stats') }}">
                                <i class="far fa-lg fa-chart-bar" style="color: darkorange;"></i>
                                <div class="info-nav fs-14 nav-text">Stats</div>
                            </a>
                        </li>
                        <li class="nav-item nav-li-1">
                            <a class="nav-link" href="{{ url_for('general.current_trends') }}">
                                <i class="fas fa-lg fa-fire-alt" style="color: orangered;"></i>
                                <div class="info-nav fs-14 nav-text">Trends</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto nav-ul-1">
                        <li class="nav-item nav-li-1 nav-li-2">
                            <a class="nav-link" href="{{ url_for('main.your_next_airing') }}">
                                <i class="far fa-lg fa-calendar-check" style="color: olivedrab;"></i>
                                <div class="info-nav fs-14 nav-text">Next Airing</div>
                            </a>
                        </li>
                        <li class="nav-item nav-li-1 dropdown nav-li-2">
                            <a id="notif" class="nav-link my-drop-toggle notif-li m-r-10" data-toggle="dropdown"
                            onclick="notifications()">
                                <i class="fas fa-lg fa-bell"></i>
                                {% set count = current_user.count_notifications() %}
                                <span id="notif-badge" class="badge {% if count == 0 %} badge-light {% else %}
                                badge-danger{% endif %}">
                                    {{ count }}
                                </span>
                                <div class="fs-14 nav-text">Notifications</div>
                            </a>
                            <div id="notif-dropdown" class="dropdown-menu notification-dropdown">
                                <img id="loading-image" src="/static/img/loading.webp"/>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <img class="navbar-pic" src="/static/profile_pics/{{ current_user.image_file }}"/>
                            </a>
                            <div id="profile-dropdown" class="dropdown-menu medialist-dropdown">
                                <a class="dropdown-item text-light" href="{{ url_for('users.account',
                                user_name=current_user.username) }}">
                                    <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile
                                </a>
                                {% if current_user.role.value == 'admin' %}
                                    <a class="dropdown-item text-light" href="{{ url_for('admin.index') }}">
                                        <i class="fas fa-database"></i>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard
                                    </a>
                                {% endif %}
                                <a class="dropdown-item text-light" href="{{ url_for('settings.settings') }}">
                                    <i class="fas fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings
                                </a>
                                <a class="dropdown-item text-light" href="{{ url_for('auth.logout') }}">
                                    <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% else %}
        <nav class="navbar" style="box-shadow: none;">
            <div class="container">
                <h3><b>MyLists</b></h3>
                {% if request.path == '/' %}
                    <a class="nav-link ml-auto">
                        <a class="fs-18" data-toggle="modal" data-target="#modalLoginForm"><b>Login</b></a>
                    </a>
                    <a class="nav-link">
                        <a class="fs-18" data-toggle="modal" data-target="#modalRegisterForm"><b>Register</b></a>
                    </a>
                {% endif %}
            </div>
        </nav>
    {% endif %}
</header>

<div class="container">
    <div class="content content-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible m-t-15" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>

{% block home_header %}
{% endblock %}

<main role="main" class="container">
    <div class="content">
        {% if current_user.is_authenticated %}
            {% with task = current_user.get_task_in_progress('import_list') %}
                {% if task %}
                    <div class="m-t-16 alert alert-success" role="alert">
                        <span id="{{ task.id }}-progress"></span>
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
</main>

<!--- Javascript CDN ---------------------------------------------------->
<script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>

<!--- Custom Javascript ------------------------------------------------->
{% block script %}
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/mylists.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#select-media').change(function () {
            $('#autocomplete').val('')
        });

        $('#autocomplete').keydown(function(event) {
            if(event.keyCode == 13 && $('#autocomplete').val().trim() === '') {
                event.preventDefault();
                return false;
            }
        });
    });

{#    {% if current_user.is_authenticated %}#}
{#        {% with task = current_user.get_task_in_progress('import_list') %}#}
{#            {% if task %}#}
{#                window.onload = function get_progress() {#}
{#                    $.ajax ({#}
{#                        type: "POST",#}
{#                        url: "/progress_import",#}
{#                        contentType: "application/json",#}
{#                        data: JSON.stringify({task_id: '{{ task.id }}'}),#}
{#                        dataType: "json",#}
{#                        success: function(data) {#}
{#                            if (data.progress.progress === 100) {#}
{#                                $('#'+'{{ task.id }}'+'-progress').text('{{ task.description }} Completed!');#}
{#                                $('#'+'{{ task.id }}'+'-progress').parent().delay(2000).fadeOut();#}
{#                            } else {#}
{#                                $('#'+'{{ task.id }}'+'-progress').text('{{ task.description }} '+data.progress.progress+'%');#}
{#                                setTimeout(get_progress, 2500);#}
{#                            }#}
{#                        }#}
{#                    });#}
{#                }#}
{#            {% endif %}#}
{#        {% endwith %}#}
{#    {% endif %}#}
</script>
<footer class="text-center text-lg-left m-t-10" style="background-color: #0a151c;">
    <div class="container p-3 m-t-20" style="padding-bottom: 0 !important;">
            <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-4">
                <img class="m-b-5" src="{{ url_for('static', filename='img/favicon.ico') }}">&nbsp;
                <h5 class="dis-inline text-uppercase" style="color: #3fd3da;"><b>MyLists.info</b></h5>
                <p class="text-justify m-b-10">
                    Create your media lists, see how much time you have spent, follow your friends and compare to them.
                    Add your favorites, comment, rewatch and gain levels to get to the top of the Hall of Fame.
                </p>
                <script>
                    let part6 = "contact";
                    let part7 = Math.pow(2, 6);
                    let part8 = String.fromCharCode(part7);
                    let part9 = "mylists.info";
                    let part10 = part6 + String.fromCharCode(part7) + part9;
                    document.write("<a class='text-light' href=" + "mai" + "lto" + ":" + part10 + ">" +
                    '<b><i class="fas fa-envelope"></i>&nbsp; Contact us</b>' + "</a>");
                </script>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 mb-4">
                <h5 class="text-uppercase" style="color: #3fd3da;"><b>Powered by</b></h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://flask.palletsprojects.com/" class="text-light" target="_blank">Flask</a></li>
                    <li><a href="https://mdbootstrap.com/" class="text-light" target="_blank">MDB</a></li>
                    <li><a href="https://www.themoviedb.org/" class="text-light" target="_blank">TMDB</a></li>
                    <li><a href="https://www.igdb.com/" class="text-light" target="_blank">IGDB</a></li>
                    <li><a href="https://books.google.com/" class="text-light" target="_blank">Google Books</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 mb-2">
                <h5 class="text-uppercase" style="color: #3fd3da;"><b>MyLists Info</b></h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://github.com/Crossoufire/MyLists" class="text-light" target="_blank">Github</a></li>
                    <li><a href="/about" class="text-light" target="_blank">About</a></li>
                    <li><a href="/privacy_policy" class="text-light" target="_blank">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        </div>
    <hr style="margin: 0px;">
    <div class="text-center p-2" style="background-color: #0A151CFF;">
        © 2019-2021 Copyright: <a class="text-light" href="https://MyLists.info">Mylists.info</a>
    </div>
</footer>
</body>
</html>
