{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/grades_data.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h2 class="text-center p-t-50">
        GRADES AND LEVELS
        <hr class="mt-2 m-b-25">
    </h2>

    <ul class="details p-t-10 p-b-10 p-r-10">
        <li>All grades are from the video game Halo Reach.</li>
        <li>50 grades and 150 levels. You gain a grade each 3 levels.</li>
        <li>Levels are based on time spent in series and movies.</li>
        <li>XP calculation is: XP = 20*lvl*(1+lvl) &#8596; Level = (&#8730;(400+80*XP)-20)/40</li>
        <li>1 min = 1 XP from the media duration.</li>
    </ul>

    <div class="table-responsive-sm m-t-30 m-b-50 table-style">
        <table class="table text-light">
            <thead>
            <tr>
                <th class="text-center">Grade</th>
                <th class="text-center">Title</th>
                <th class="text-center">Levels</th>
                <th class="text-center">Hours</th>
            </tr>
            </thead>
            <tbody>
            {% for rank in data %}
                <tr>
                    {% if loop.index0 % 3 == 0 %}
                        <td class="text-center">
                            <img src="{{ url_for('static', filename='img/levels_ranks/') }}{{ rank.image_id }}.png"
                            height='60' width="60" alt="">
                        </td>
                        <td class="text-center fs-17" style="vertical-align: middle;">
                            <strong>{{ rank.name }}</strong>
                        </td>
                        <td class="text-center fs-17" style="vertical-align: middle;">
                            {% if rank.level < 147 %}
                                <strong>{{ rank.level }} - {{ 2+rank.level }}</strong>
                            {% else %}
                                <strong>{{ rank.level }} +</strong>
                            {% endif %}
                        </td>
                        <td class="text-center fs-17" style="vertical-align: middle;">
                            {% if rank.level < 147 %}
                                <strong>
                                    {{ ((20*rank.level*(1+rank.level))/60)|int }} -
                                    {{ (((20*(3+rank.level))*(4+rank.level))/60)|int }}
                                </strong>
                            {% else %}
                                <strong>
                                    {{ ((20*rank.level*(1+rank.level))/60)|int }} +
                                </strong>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
