{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/search_media.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h4 class="font-weight-light mt-1 mb-0 p-t-50">Search <b>></b> Results for <i>"{{ search }}"</i></h4>
    <ul class="nav nav-tabs md-tabs m-t-40" id="media-tab">
        <li class="nav-item">
            <div class="nav-link active" id="series-tab" data-toggle="tab"
                 href="#series"><b>Series ({{ series_results|length }})</b></div>
        </li>
        <li class="nav-item">
            <div class="nav-link" id="movies-tab" data-toggle="tab"
                 href="#movies"><b>Movies ({{ movies_results|length }})</b></div>
        </li>
    </ul>
    <div class="tab-content" id="media-search">
        <div class="tab-pane fade show active" id="series">
            <div class="d-flex flex-wrap justify-content-center m-t-30">
                {% for media in series_results %}
                    <a class="card mb-4" style="background: #216c7d; width: 800px; border-radius: 0;"
                       href="/details/Series/{{ media['tmdb_id'] }}?search=True">
                        <div class="row no-gutters">
                            <div class="col-3 p-2">
                                <img width="70" src="{{ media['poster_path'] }}">
                            </div>
                            <div class="col-9">
                                <div class="card-body p-2">
                                    <h5 class="card-title">
                                        <div class="text-light fs-15 giveMeEllipsis2">{{ media['name'] }}</div>
                                        <div class="fs-12 text-grey"><i>{{ media['first_air_date'] }}</i></div>
                                    </h5>
                                    {% if media['overview'] %}
                                        <p class="fs-12 text-light giveMeEllipsis m-b-0">{{ media['overview'] }}</p>
                                    {% else %}
                                        <p class="fs-12 text-light m-b-0"><i>No overview avalaible for this content.</i>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="movies">
            <div class="d-flex flex-wrap justify-content-center m-t-30">
                {% for media in movies_results %}
                    <a class="card mb-4" style="background: #8c7821; width: 800px; border-radius: 0;"
                       href="/details/Movies/{{ media['tmdb_id'] }}?search=True">
                        <div class="row no-gutters">
                            <div class="col-3 p-2">
                                <img width="70" src="{{ media['poster_path'] }}">
                            </div>
                            <div class="col-9">
                                <div class="card-body p-2">
                                    <h5 class="card-title">
                                        <div class="text-light fs-15 giveMeEllipsis2">{{ media['name'] }}</div>
                                        <div class="fs-12 text-grey"><i>{{ media['first_air_date'] }}</i></div>
                                    </h5>
                                    {% if media['overview'] %}
                                        <p class="fs-12 text-light giveMeEllipsis m-b-0">{{ media['overview'] }}</p>
                                    {% else %}
                                        <p class="fs-12 text-light m-b-0"><i>No overview avalaible for this content.</i>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/media_search.js') }}"></script>
{% endblock script %}
