{% extends "media_sheet_base.html" %}


{% set eps_per_season = media.get_eps_per_season() %}


{% block hr_color %}
    hr {margin-top: 5px; border-top: 1px solid #216e7d;}
{% endblock hr_color %}


{% block cat_select %}
    <select id="category-dropdown" class="text-light cat-drop" onchange="changeCategoryTV(
    '{{ media.id }}', this, '{{ eps_per_season }}', '{{ media_list }}')">
        <option {% if list_info.status == 'Watching' %} selected="selected" {% endif %}>Watching</option>
        <option {% if list_info.status == 'Completed' %} selected="selected" {% endif %}>Completed</option>
        <option {% if list_info.status == 'On Hold' %} selected="selected" {% endif %}>On Hold</option>
        <option {% if list_info.status == 'Random' %} selected="selected" {% endif %}>Random</option>
        <option {% if list_info.status == 'Dropped' %} selected="selected" {% endif %}>Dropped</option>
        <option {% if list_info.status == 'Plan to Watch' %} selected="selected"{% endif %}>Plan to Watch</option>
    </select>
{% endblock cat_select %}


{% block add_more %}
    <div id="season-row" class="row m-l-15 m-r-15" {% if list_info.status == 'Plan to Watch' or list_info.status
     == 'Random' %} style="display: none;" {% endif %}>
        <div class="col-4"><b>Season:</b></div>
        <div class="col-8">
            <label for="season-dropdown"></label>
            <select id="season-dropdown" class="text-light cat-drop" onchange="updateSeason(
             '{{ media.id }}', this, '{{ eps_per_season }}', '{{ media_list }}')">
                {% for eps in range(0, eps_per_season|length) %}
                    <option {% if eps + 1 == list_info.current_season %}selected="selected"{% endif %}
                     value="{{ eps }}">{{ eps + 1 }}</option>
                {% endfor %}
            </select>
            <i id="season-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="season-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
    <div id="episode-row" class="row m-l-15 m-r-15" {% if list_info.status == 'Plan to Watch' or list_info.status
     == 'Random' %} style="display: none;" {% endif %}>
        <div class="col-4"><b>Episode:</b></div>
        <div class="col-8">
            <label for="episode-dropdown"></label>
            <select id="episode-dropdown" class="text-light cat-drop" onchange="updateEpisode(
             '{{ media.id }}', this, '{{ media_list }}')">
                {% if list_info.status == 'Plan to Watch' or list_info.status == 'Random' %}
                    {% for i in range(0, eps_per_season[list_info.current_season - 1]) %}
                        <option {% if i + 1 == 1 %} selected="selected" {% endif %} value="{{ i }}">{{ i + 1 }}</option>
                    {% endfor %}
                {% else %}
                    {% for i in range(eps_per_season[list_info.current_season - 1]) %}
                        <option{% if i + 1 == list_info.last_episode_watched %} selected="selected"{% endif %}
                         value="{{ i }}">{{ i + 1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <i id="eps-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="eps-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
{% endblock add_more %}


{% block add_redo %}
    <div id="rewatch-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="How many time you rewatched this media.
     Do not count the inital completion." {% if list_info.status == 'Completed' %}{% else %}style="display: none;"{% endif %}>
        <div class="col-4"><b>Rewatched:</b></div>
        <div class="col-8">
            <label for="rewatched-dropdown"></label>
            <select id="rewatched-dropdown" class="text-light cat-drop" onchange="updateRewatched(
             '{{ media.id }}', this, '{{ media_list }}')">
                {% for i in range(0, 11) %}
                    <option {% if i == list_info.rewatched %} selected="selected"{% endif %} value="{{ i }}">
                        &nbsp;{{ i }}&nbsp;</option>
                {% endfor %}
            </select>
            <i id="rewatched-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="rewatched-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
{% endblock add_redo %}


{% block information %}
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-star"></i><b>&nbsp; TMDb Score</b></h5>
                <div style="font-size: 0.9rem;">
                    <i class="fas fa-tv fa-3x media-ticket" value="{{ media.vote_average }}"></i>
                </div>
                <div class="tv-vote-average">{{ media.vote_average|round(1) }}</div>
                <div class="tv-vote-count">({{ media.vote_count|int }} votes)</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-video"></i><b>&nbsp; Created by</b></h5>
                {% for p in media.created_by.split(', ') %}
                    {% if p == 'Unknown' %}
                        <div>{{ p }}</div>
                    {% else %}
                        <a class="text-light" href="/persons/{{ media.__class__.__name__ }}/creator/{{ p }}">
                            <div>{{ p }}</div>
                        </a>
                    {% endif %}
                {% endfor %}
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-cog"></i><b>&nbsp; Prod. Status</b></h5>
                <div>{{ media.status }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-calendar-check"></i><b>&nbsp; Air dates</b></h5>
                <div>{{ media.get_formated_dates()|safe }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-play-circle"></i><b>&nbsp; Seasons</b></h5>
                <div>{{ media.total_seasons }} Seasons</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-forward"></i><b>&nbsp; Episodes</b></h5>
                <div>{{ media.total_episodes }} Episodes</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-clock"></i><b>&nbsp; Eps. duration</b></h5>
                <div>{{ media.duration }} min</div>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-theater-masks"></i><b>&nbsp; Genres</b></h5>
                <div>{{ media.get_genres() }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-user"></i><b>&nbsp; Main Actors</b></h5>
                {% set actors = media.get_actors() %}
                {% if actors[0] == 'Unknown' %}
                    <div><i>No actors found</i></div>
                {% else %}
                    {% for actor in actors %}
                        <a class="text-light" href="/persons/{{ media.__class__.__name__ }}/actor/{{ actor }}">
                            <div>{{ actor }}</div>
                        </a>
                    {% endfor %}
                {% endif %}
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-building"></i><b>&nbsp; Networks</b></h5>
                <div>{{ media.get_networks() }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-clock"></i><b>&nbsp; Completion</b></h5>
                <div>{{ (media.duration * media.total_episodes)//60 }} h {{ '%02d'|format((media.duration * media.total_episodes)%60) }} min
                </div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-flag"></i><b>&nbsp; Origin country</b></h5>
                {% if media.origin_country == 'en' %}
                    <span class="flag-icon flag-icon-us"></span>&nbsp;
                {% else %}
                    <span class="flag-icon flag-icon-{{ media.origin_country|lower }}"></span>
                {% endif %}
                &nbsp;<span>{{ media.origin_country }}</span>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-home"></i><b>&nbsp; Homepage</b></h5>
                {% if media.homepage != 'Unknown' %}
                    <a style="word-break: break-all;" href="{{ media.homepage }}">
                        {{ media.homepage }}
                    </a>
                {% else %}
                    <i>No homepage available</i>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock information %}


{% block more_info %}
    <h4><i class="fas fa-play"></i>&nbsp;&nbsp; <b>Episodes per season</b></h4><hr>
    <div class="eps-per-season d-flex flex-wrap m-b-30">
        {% for eps in eps_per_season %}
            <div class="m-l-7 m-r-7 m-b-15">
                <div class="box text-center">
                    <div class="p-t-15"><b>S{{ '{:02d}'.format(loop.index) }}</b></div>
                    <div><b>{{ eps }} Ep</b></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock more_info %}


{% block follow_more %}
    <div class="follow-status" value="{{ follow[1].status.value }}">
        <i class="fas fa-list"></i>
        <b>&nbsp;Status:&nbsp;{{ follow[1].status.value }}</b>
    </div>
    {% set check_status = ['Completed', 'Random', 'Plan to Watch'] %}
    {% if follow[1].status.value not in check_status %}
        <i class="fas fa-sm fa-play"></i>
        <b>&nbsp;Season {{ follow[1].current_season }} - Episode {{ follow[1].last_episode_watched }}</b>
    {% endif %}
    {% if follow[1].status.value == 'Completed' %}
        <i class="fas fas-sm fa-redo"></i>
        <b>&nbsp;Rewatched:&nbsp; {{ follow[1].rewatched }}</b>
    {% endif %}
{% endblock follow_more %}
