{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/search_media.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h2 class="font-weight-light m-l-8 mt-1 mb-0 p-t-50">
        <b>Search > Results for <i>"{{ search }}"</i></b>
        <div class="float-r fs-18 m-t-15 m-r-8"><b>Total:</b> {{ tot_res }} results</div>
    </h2>
    <hr style="margin-top: 3px;">

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-center m-t-40 m-b-40 add-text">
                {% if results[0]['media'] != 'User' %}
                    {% for media in results %}
                        <a class="card mb-4 {% if media['media'] == 'Series' %}right-series {% elif media['media'] ==
                         'Anime' %}right-anime {% elif media['media'] == 'Movies' %}right-movies {% elif media['media']
                         == 'Books' %}right-books {% else %}right-games{% endif %}" href="{{ url_for('main.media_sheet',
                         media_type=media['media'], media_id=media['api_id']) }}?search=True" style="background: #1b2b38;">
                            <div class="row no-gutters">
                                <div class="col-lg-2 col-sm-12 mobile-img">
                                    <img class="img-min-height" src="{{ media['poster_path'] }}" alt=""/>
                                </div>
                                <div class="col-lg-10 col-sm-12" style="margin-left: -20px;">
                                    <div class="card-body p-3">
                                        <h5 class="card-title m-l-15">
                                            <div class="text-light fs-23 giveMeEllipsis2">{{ media['name'] }}</div>
                                            <div class="fs-16 m-t-5 text-grey"><i>{{ media['first_air_date'] }}</i></div>
                                        </h5>
                                        <p class="fs-15 text-light giveMeEllipsis-3 m-b-0 text-justify m-l-15">
                                            {% if media['overview'] %}{{ media['overview'] }}
                                            {% else %}<i>No overview accessible for this media.</i>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for user in results %}
                        <a class="card mb-4" href="{{ url_for('users.account', user_name=user['name']) }}"
                         style="background: #2a2b2d;">
                            <div class="row no-gutters">
                                <div class="col-lg-2 col-sm-12 mobile-img">
                                    <img class="img-min-height-user" src="{{ user['poster_path'] }}" alt=""/>
                                </div>
                                <div class="col-lg-10 col-sm-12" style="margin-left: -20px;">
                                    <div class="card-body p-2">
                                        <h5 class="card-title m-l-15">
                                            <div class="text-light fs-23 giveMeEllipsis2">{{ user['name'] }}</div>
                                            <div class="fs-16 m-t-5 text-grey"><i>{{ user['register'] }}</i></div>
                                        </h5>
                                    </div>
                                    <div class="text-light text-right">Lvl. {{ user['level']['level'] }}</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="text-center m-b-40">
                {% if page|int > 1 %}
                    <a class="btn btn-small btn-secondary" href="/search_media?search={{ search }}&media_select={{ media_select }}&page={{ page|int - 1 }}">
                        Previous page
                    </a>
                {% endif %}
                {% if page|int < tot_pages|int %}
                    <a class="btn btn-small btn-primary" href="/search_media?search={{ search }}&media_select={{ media_select }}&page={{ page|int + 1 }}">
                        Next page
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/media_search.js') }}"></script>
{% endblock script %}
