{% extends 'media_sheet_base.html' %}


{% block hr_color %}
    hr {margin-top: 5px; border-top: 1px solid #196219;}
{% endblock hr_color %}


{% block cat_select %}
    <select id="category-dropdown" class="text-light cat-drop" onchange="changeCategoryGames(
    '{{ media.id }}', this)">
        <option {% if list_info.status == 'Completed' %} selected="selected" {% endif %}>Completed</option>
        <option {% if list_info.status == 'Endless' %} selected="selected" {% endif %}>Endless</option>
        <option {% if list_info.status == 'Multiplayer' %} selected="selected" {% endif %}>Multiplayer</option>
        <option {% if list_info.status == 'Dropped' %} selected="selected" {% endif %}>Dropped</option>
        <option {% if list_info.status == 'Plan to Play' %} selected="selected" {% endif %}>Plan to Play</option>
    </select>
{% endblock cat_select %}


{% block add_more %}
    <div id="playtime-row" class="row m-l-15 m-r-15" {% if list_info.status == 'Plan to Play' %}
     style="display: none;"{% endif %}>
        <div class="col-4"><b>Played:</b></div>
        <div class="col-8">
            <label for="time-dropdown"></label>
            <select id="time-dropdown" class="text-light cat-drop" onchange="updatePlaytime('{{ media.id }}', this)">
                {% set play_drop = [2, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, 125, 150, 175,
                200, 225, 250, 275, 300, 350, 400, 450, 500, 550, 600, 700, 800, 900, 1000, 1500, 2000, 2500, 3000,
                4000, 5000, 6000, 7000, 8000, 9000, 10000] %}
                <option {% if list_info.playtime == None or list_info.playtime == 0 %}selected="selected" {% endif %}
                 value="0">&nbsp;0&nbsp;h</option>
                {% for val in play_drop %}
                    <option {% if val == list_info.playtime/60|int %} selected="selected" {% endif %}
                    value="{{ val }}">&nbsp;{{ val }}&nbsp;h</option>
                {% endfor %}
            </select>
            <i id="time-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="time-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
{% endblock add_more %}


{% block add_redo %}
{% endblock add_redo %}


{% block information %}
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-star"></i><b>&nbsp; IGDB Score</b></h5>
                <i class="fas fa-scroll fa-3x media-ticket" value="{{ media.vote_average/10|int }}"></i>
                <div class="game-vote-average">{{ media.vote_average|int }}</div>
                <div class="movie-vote-count">({{ media.vote_count|int }} votes)</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-code"></i><b>&nbsp; Developers</b></h5>
                {% for dev in media.get_developers() %}
                    <a class="text-light" href="/persons/Games/creator/{{ dev }}"><div>{{ dev }}</div></a>
                {% endfor %}
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-money-bill-wave-alt"></i><b>&nbsp; Publishers</b></h5>
                <div>{{ media.get_publishers() }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-calendar-check"></i><b>&nbsp; Release date</b></h5>
                <div>{{ media.get_formated_dates() }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-layer-group"></i><b>&nbsp; Collection Name</b></h5>
                <div>{{ media.collection_name }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-layer-group"></i><b>&nbsp; Platforms</b></h5>
                <div>{{ media.get_platforms() }}</div>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fab fa-unity"></i><b>&nbsp; Game Engine</b></h5>
                    <div>{{ media.game_engine }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-theater-masks"></i><b>&nbsp; Genres</b></h5>
                <div>{{ media.get_genres() }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-user"></i><b>&nbsp; Game Modes</b></h5>
                <div>{{ media.game_modes|replace(',', ', ') }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-cube"></i><b>&nbsp; Perspective</b></h5>
                <div>{{ media.player_perspective }}</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-link"></i><b>&nbsp; IGDB link</b></h5>
                <a style="word-break: break-all;" href="{{ media.IGDB_url }}">{{ media.IGDB_url }}</a>
            </li>
        </ul>
    </div>
{% endblock information %}


{% block more_info %}
    <h4 data-toggle="tooltip" title="HowLongToBeat">
        <i class="fas fa-hourglass"></i>&nbsp;&nbsp; <b>HLTB Time (hours)</b>
    </h4><hr>
    <div class="d-flex flex-wrap m-b-30" style="justify-content: space-evenly;">
        <div class="game-box text-center" style="background-color: slategrey;">
            <div class="p-t-5"><b>MAIN</b></div>
            {% if not media.hltb_main_time or media.hltb_main_time|int == -1 %}
                <div class="fs-17"><b>--</b></div>
            {% else %}
                <div class="fs-17"><b>{{ media.hltb_main_time }}</b></div>
            {% endif %}
        </div>
        <div class="game-box text-center" style="background-color: dimgrey;">
            <div class="p-t-5"><b>EXTRA</b></div>
           {% if not media.hltb_main_and_extra_time or media.hltb_main_and_extra_time|int == -1 %}
                <div class="fs-17"><b>--</b></div>
            {% else %}
                <div class="fs-17"><b>{{ media.hltb_main_and_extra_time }}</b></div>
            {% endif %}
        </div>
        <div class="game-box text-center" style="background-color: darkslategrey;">
            <div class="p-t-5"><b>TOTAL</b></div>
            {% if not media.hltb_total_complete_time or media.hltb_total_complete_time|int == -1 %}
                <div class="fs-17"><b>--</b></div>
            {% else %}
                <div class="fs-17"><b>{{ media.hltb_total_complete_time }}</b></div>
            {% endif %}
        </div>
    </div>
{% endblock more_info %}


{% block follow_more %}
    <div class="follow-status" value="{{ follow[1].status.value }}">
        <i class="fas fa-list"></i>
        <b>&nbsp;Status:&nbsp;{{ follow[1].status.value }}</b>
    </div>
    <i class="fas fas-sm fa-hourglass"></i>
    <b>&nbsp;Playtime:&nbsp; {{ (follow[1].playtime/60)|int }} hours</b>
{% endblock follow_more %}
