{% extends "layout.html" %}


{% block css %}
    <style>
        input {
            background-color: transparent;
            color: white;
            border: grey 1px solid;
            padding: 5px;
        }
        ul {
            border: transparent !important;
        }
    </style>
{% endblock css %}


{% block content %}
    <h4 class="m-t-40"><i class="fas fa-sliders-h"></i>&nbsp; Edit media info</h4>
    <hr class="p-0 m-0">


    <form class="m-l-10 m-t-30 m-b-50" action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            {{ form.hidden_tag() }}
            <div class="col-7">
                <div class="row">
                    {% for field in form %}
                        {% if field.name != 'genre_attr' %}
                            <div class="col-xl-3 col-lg-3 col-md-12 p-2">{{ field.label() }}</div>
                            <div class="col-xl-9 col-lg-9 col-md-12 p-2">
                                {{ field(class="text-justify text-light", rows="8", cols="50",
                                style="background: transparent; border: grey 1px solid;") }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-5">
                {% if form.genre_attr %}
                    <div class="p-2" style="background: darkslategray;">
                        <b>Actual genres:</b> &nbsp;{{ genres[0] }}
                    </div>
                    <div class="p-2 m-t-15">
                        Select up to 5 genres to describes the book:
                        <br>(ctrl + click for multi-selection)
                    </div>
                    <div class="p-2">
                        <div><b>{{ form.genre_attr.label() }}:</b></div>
                        <div>{{ form.genre_attr(size=15) }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary m-t-20" type="submit">Update Media</button>
        </div>
    </form>
{% endblock content %}


{% block script %}
{% endblock script %}

