{% extends 'layout.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mymedialist.css') }}">
    <style rel="stylesheet">
        {% if media_list == 'serieslist' %}
            hr {border-top: 1px solid #216e7d;}
        {% elif media_list == 'animelist' %}
            hr {border-top: 1px solid #945141;}
        {% elif media_list == 'movieslist' %}
            hr {border-top: 1px solid #8c7821;}
        {% elif media_list == 'bookslist' %}
            hr {border-top: 1px solid #5d4683;}
        {% elif media_list == 'gameslist' %}
            hr {border-top: 1px solid #196219;}
        {% endif %}
    </style>
{% endblock css %}


{% block content %}
    <section class="header-mymedialist">
        <section class="return-icons-and-search-bar">
            <div class="row no-gutters m-t-30">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mobile-margin mobile-center">
                    <a class="fas fa-lg fa-user m-r-10 return-icon text-grey" data-toggle="tooltip" title="{{ user.username }}"
                     href="{{ url_for('users.account', user_name=user.username) }}"></a>

                    <a class="fas fa-lg fa-tv m-r-10 return-icon-tv text-series {% if media_list == 'serieslist' %}
                    disabled" style="box-shadow: 0 -3px 0 gray inset; {% endif %}" data-toggle="tooltip" title="Serieslist"
                    href="{{ url_for('main.mymedialist', media_list='serieslist', user_name=user.username) }}"></a>

                    {% if user.add_anime %}
                        <a class="fas fa-lg fa-torii-gate m-r-10 return-icon-tv text-anime {% if media_list == 'animelist' %}
                        disabled" style="box-shadow: 0 -3px 0 gray inset; {% endif %}" data-toggle="tooltip" title="AnimeList"
                        href="{{ url_for('main.mymedialist', media_list='animelist', user_name=user.username) }}"></a>
                    {% endif %}

                    <a class="fas fa-lg fa-film m-r-10 return-icon text-movies {% if media_list == 'movieslist' %}
                     disabled" style="box-shadow: 0 -3px 0 gray inset; {% endif %}" data-toggle="tooltip" title="Movieslist"
                     href="{{ url_for('main.mymedialist', media_list='movieslist', user_name=user.username) }}"></a>

                    {% if user.add_books %}
                        <a class="fas fa-lg fa-book m-r-10 return-icon text-books {% if media_list == 'bookslist' %}
                             disabled" style="box-shadow: 0 -3px 0 gray inset; {% endif %}" data-toggle="tooltip" title="Bookslist"
                             href="{{ url_for('main.mymedialist', media_list='bookslist', user_name=user.username) }}"></a>
                    {% endif %}

                    {% if user.add_games %}
                        <a class="fas fa-lg fa-gamepad m-r-10 return-icon-tv text-games {% if media_list == 'gameslist' %}
                         disabled" style="box-shadow: 0 -3px 0 gray inset; {% endif %}" data-toggle="tooltip" title="Gameslist"
                         href="{{ url_for('main.mymedialist', media_list='gameslist', user_name=user.username) }}"></a>
                    {% endif %}

                    {% if current_user.get_id() != user.id and category != 'Stats' %}
                        <div class="shared-pie m-l-15" data-toggle="tooltip"
                         title="{{ data['common_elements'][0] }}/{{ data['common_elements'][1] }} shared
                         ({{ data['common_elements'][2] }}%)" style="background: conic-gradient(#d7d7d7
                         {{ data['common_elements'][2] }}%, #5b5b5b 0);">
                        </div>
                    {% endif %}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 input-container mobile-margin">
                    <form method="GET" action="{{ url_for('main.mymedialist', media_list=media_list,
                    user_name=user.username, category='Search', genre=genre, sorting=sorting, page_val=1) }}">
                        {{ search_form.q(class='modded-input', placeholder=search_form.q.label.text,
                           onfocus="this.placeholder = '';",
                           onblur="this.placeholder = "+"'"+search_form.q.label.text+"'"+";") }}
                    </form>
                </div>
            </div>
        </section>
        <section class="media-list-categories">
            <div class="categories-css p-1">
                {% block categories scoped %}{% endblock categories %}
                {% for cat in categories %}
                    <a class="cat-btn{% if cat == category %} btn-selected{% endif %}" href="{{ url_for('main.mymedialist',
                     media_list=media_list, user_name=user.username, category=cat, genre=genre, sorting=sorting, page_val=1) }}">
                        <b>{{ cat|upper }}</b>
                    </a>
                {% endfor %}
                <a class="cat-btn{% if category == 'Stats' %} btn-selected{% endif %}" href="{{ url_for('main.mymedialist',
                 media_list=media_list, user_name=user.username, category='Stats') }}">
                    <b>STATS</b>
                </a>
            </div>
        </section>
        <section class="title-sorting-filtering-genres">
            <h4 class="cat-title">
                {{ category|upper }}{% if category == "Search" %} RESULTS FOR "{{ search_q }}" {% endif %}
                {% if category != 'Stats' %}
                    ({{ data['total_media'] }})
                {% endif %}
            </h4>
            {% if category != 'Stats' %}
                <div class="sort-container">

                {% if media_list == 'movieslist' %}
                    <li class="nav-item dropdown li-genre-sort text-grey">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"><b>Filter {{ request.args.get('lang') }}</b></a>
                    <div class="dropdown-menu genre-drop">
                        <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist', media_list=media_list,
                         user_name=user.username, category=category, genre=genre, sorting=sorting, page_val=1) }}
                         {% if category == 'Search' %}?q={{ search_q }}{% endif %}">
                            <div>All</div>
                        </a>
                        <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist', media_list=media_list,
                         user_name=user.username, category=category, genre=genre, sorting=sorting, page_val=1) }}?lang=en
                         {% if category == 'Search' %}&q={{ search_q }}{% endif %}">
                            <div>English</div>
                        </a>
                        <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist', media_list=media_list,
                         user_name=user.username, category=category, genre=genre, sorting=sorting, page_val=1) }}?lang=fr
                         {% if category == 'Search' %}&q={{ search_q }}{% endif %}">
                            <div>French</div>
                        </a>
                    </div>
                </li>
                {% endif %}

                <li class="nav-item dropdown li-genre-sort text-grey">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"><b>Genre {{ genre|upper }}</b></a>
                    <div class="dropdown-menu genre-drop">
                        {% block add_genres scoped %} {% endblock add_genres %}
                        {% for ge in all_genres %}
                            <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist', media_list=media_list,
                             user_name=user.username, category=category, genre=ge, sorting=sorting, page_val=1) }}
                             {% if category == 'Search' %}?q={{ search_q }}{% endif %}">
                                <div>{{ ge }}</div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown li-genre-sort text-grey">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"><b>Sort {{ sorting|upper }}</b></a>
                    <div class="dropdown-menu sort-drop">
                        {% block add_sort scoped %} {% endblock add_sort %}
                        {% for so in all_sort %}
                            <a class="dropdown-item text-light" href="{{ url_for('main.mymedialist', media_list=media_list,
                             user_name=user.username, category=category, genre=genre, sorting=so, page_val=1) }}
                             {% if category == 'Search' %}?q={{ search_q }}{% endif %}">
                                <div>{{ so }}</div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </div>
            {% endif %}
            <hr class="mt-2 pb-3 mb-0">
        </section>
    </section>

    <section class="media-display">
        {% if category == 'Stats' %}
            {% block stats_block scoped %}
            {% endblock stats_block %}
        {% else %}
            <div class="row m-b-40">
                {% for item in data['items_list'] %}
                    <div id="card_{{ item.media.id }}" values="{% block data scoped %}{% endblock data %}"
                    cat="{{ item.status.value }}" class="card-container col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
                        <div class="card bg-transparent">
                            <div class="view overlay">
                                <img class="card-img-top" src="{{ item.media.get_media_cover() }}" alt="" height="300"
                                width="200" style="height: auto;"/>
                                <a class="mask flex-center rgba-black-strong" href="{{ url_for('main.media_sheet',
                                media_type=item.media.__class__.__name__, media_id=item.media.id) }}">
                                    <span class="font-mask text-center text-light">{{ item.media.name }}</span>
                                </a>
                                {% if category == 'Search' or category == 'All' %}
                                    <div class="bottom-card-cat{% if media_list =='movieslist' %}-movie {% endif %}">
                                        {{ item.status.value }}</div>
                                {% endif %}
                                {% if current_user.get_id() == user.id %}
                                    <a class="card-btn-top-left fas fa-bars text-light"
                                       onclick="chargeButtons(card_{{ item.media.id }})"></a>
                                    <a class="card-btn-toop-right fas fa-trash text-light"
                                       onclick="deleteElement(card_{{ item.media.id }}, '{{ media_list }}')"></a>
                                {% else %}
                                    {% if item.media.id in data['common_ids'] %}
                                        <div class="card-ribbon"></div>
                                    {% else %}
                                        <a class="card-btn-top-left fas fa-plus text-light"
                                           onclick="ChargeButtonsOther(card_{{ item.media.id }})"></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="bottom-card-info{% if media_list =='movieslist' %}-movie {% endif %}">
                                <div class="row no-gutters" style="opacity: 0.7;">
                                    <div class="col p-0">
                                        <a class="fa-heart {% if item.favorite %} fas favorited {% else %}
                                        far {% endif %} {% if current_user.get_id() != user.id %}
                                        disabled {% endif %}" data-toggle='tooltip' title="Favorite"
                                           onclick="addFavorite(this,'{{ item.media.id }}','{{ media_list }}')">
                                        </a>
                                    </div>

                                    {% if user.add_feeling %}
                                        <div class="col p-0">
                                            <a id="feel_{{ item.media.id }}" class="{% if current_user.get_id() != user.id %}
                                             disabled {% endif %}" data-toggle="tooltip" title="Feeling"
                                             onclick="feelButtons(card_{{ item.media.id }}, this)">
                                                {% if item.feeling == None %}
                                                    <i value="None">---</i>
                                                 {% elif item.feeling == 5 %}
                                                    <i class="fas fa-grin-stars" style="color: #019101;" value="5"></i>
                                                {% elif item.feeling == 4 %}
                                                    <i class="fas fa-grin-alt" style="color: #59a643;" value="4"></i>
                                                {% elif item.feeling == 3 %}
                                                    <i class="fas fa-smile" style="color: darkseagreen;" value="3"></i>
                                                {% elif item.feeling == 2 %}
                                                    <i class="fas fa-frown" style="color: #d0a141;" value="2"></i>
                                                {% elif item.feeling == 1 %}
                                                    <i class="fas fa-angry" style="color: indianred;" value="1"></i>
                                                 {% elif item.feeling == 0 %}
                                                    <i class="fas fa-poop" style="color: saddlebrown;" value="0"></i>
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col p-0">
                                            <a id="score_{{ item.media.id }}" class="{% if current_user.get_id() != user.id %}
                                               disabled {% endif %}" data-toggle="tooltip" title="Score /10"
                                               onclick="scoreDrop(this, {{ item.media.id }}, '{{ media_list }}')">
                                                {{ item.score or '---' }}
                                            </a>
                                        </div>
                                    {% endif %}

                                    <div class="col p-0">
                                        <span id="com_{{ item.media.id }}" style="display: none;">{{ item.comment }}</span>
                                        {% if current_user.get_id() == user.id %}
                                            <a class="fa-comment-alt text-light{% if item.comment %} fas commented{% else %}
                                            far{% endif %}" data-toggle='tooltip' title="Comments" {% if item.comment %}
                                            onclick="showComment(card_{{ item.media.id }}, '{{ item.media.__class__.__name__ }}',
                                            '{{ item.media.id }}', true)"{% else %} href="{{ url_for('main.write_comment',
                                            media_type=item.media.__class__.__name__, media_id=item.media.id) }}"{% endif %}></a>
                                        {% else %}
                                            <a class="fa-comment-alt text-light {% if item.comment %}fas commented {% else %}
                                            far disabled{% endif %}" data-toggle="tooltip" title="Comments"
                                            {% if item.comment %} onclick="showComment(card_{{ item.media.id }}, '{{ item.media.__class__.__name__ }}',
                                            '{{ item.media.id }}', false)"{% endif %}></a>
                                        {% endif %}
                                    </div>
                                    {% if media_list != 'gameslist' %}
                                        <div class="col p-0" {% if item.status.value == 'Completed' %}style="display: block;"
                                         {% else %} style="display: none;"{% endif %}>
                                            <a id="rew_{{ item.media.id }}" class="{% if current_user.get_id() != user.id %}
                                             disabled {% endif %}" data-toggle="tooltip" title="How many time you rewatched this
                                             media. Do not count the inital completion." onclick="rewatchDrop(this,
                                             {{ item.media.id }}, '{{ media_list }}')">
                                                {{ item.rewatched }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% block seas_eps_drop scoped %}
                            {% endblock seas_eps_drop %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    {% if category != 'Stats' %}
        <section class="the-pagination">
            <ul class="pagination flex-wrap m-b-50 pagination-css">
                {% for i in range(data['total_pages']) %}
                    <li class="page-item {% if i + 1 == data['actual_page'] %}active {% endif %}">
                        <a class="page-link text-light" href="{{ url_for('main.mymedialist', media_list=media_list,
                         user_name=user.username, category=category, genre=genre, sorting=sorting,
                         page_val=i + 1) }}{% if category == 'Search' %}?q={{ search_q }}{% endif %}">
                            {{ '{:02d}'.format(i + 1) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock content %}


{% block script %}
    <script src="{{ url_for('static', filename='js/medialist_base.js') }}"></script>
    {% if category == 'Stats' %}
        {% block stats_js scoped %}
        {% endblock stats_js %}
    {% else %}
        {% block javascript %}
        {% endblock javascript %}
    {% endif %}
{% endblock script %}

