{% extends 'media_sheet_base.html' %}


{% block hr_color %}
    hr {margin-top: 5px; border-top: 1px solid #8c7821;}
{% endblock hr_color %}


{% block cat_select %}
    <select id="category-dropdown" class="text-light cat-drop" onchange="changeCategoryMovies(
    '{{ media.id }}', this)">
        <option {% if list_info.status == 'Completed' %}selected="selected"{% endif %}>Completed</option>
        <option {% if list_info.status == 'Plan to Watch' %}selected="selected"{% endif %}>Plan to Watch</option>
    </select>
{% endblock cat_select %}


{% block add_more %}
{% endblock add_more %}


{% block add_redo %}
    <div id="rewatch-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="How many time you rewatched this media.
     Do not count the inital completion." {% if list_info.status == 'Completed'%}{% else %}style="display: none;"{% endif %}>
        <div class="col-4"><b>Rewatched:</b></div>
        <div class="col-8">
            <label for="rewatched-dropdown"></label>
            <select id="rewatched-dropdown" class="text-light cat-drop" onchange="updateRewatched(
             '{{ media.id }}', this, '{{ media_list }}')">
                {% for i in range(0, 11) %}
                    <option {% if i == list_info.rewatched %}selected="selected"{% endif %} value="{{ i }}">
                        &nbsp;{{ i }}&nbsp;
                    </option>
                {% endfor %}
            </select>
            <i id="rewatched-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
            &nbsp;<i id="rewatched-check" class="fas fa-check" style="display: none;"></i>
        </div>
    </div>
{% endblock add_redo %}


{% block information %}
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-star"></i><b>&nbsp; TMDb Score</b></h5>
                <i class="fas fa-ticket-alt fa-3x media-ticket" value="{{ media.vote_average }}"></i>
                <div class="movie-vote-average">{{ media.vote_average|round(1) }}</div>
                <div class="movie-vote-count">({{ media.vote_count|int }} votes)</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-video"></i><b>&nbsp; Directed by</b></h5>
                <a class="text-light" href="/persons/Movies/creator/{{ media.director_name }}">{{ media.director_name }}</a>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-calendar-check"></i><b>&nbsp; Release date</b></h5>
                <div>{{ media.get_formated_dates() }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-clock"></i><b>&nbsp; Runtime</b></h5>
                <div>{{ media.duration//60 }} h {{ '%02d'|format(media.duration%60) }} min</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-flag"></i><b>&nbsp; Original language</b></h5>
                {% if media.original_language == 'en' %}
                    <span class="flag-icon flag-icon-us"></span>&nbsp;
                {% elif media.original_language == 'ja' %}
                    <span class="flag-icon flag-icon-jp"></span>&nbsp;
                {% else %}
                    <span class="flag-icon flag-icon-{{ media.original_language }}"></span>
                {% endif %}
                &nbsp;<span>{{ media.original_language|capitalize }}</span>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-unstyled">
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-theater-masks"></i><b>&nbsp; Genres</b></h5>
                <div>{{ media.get_genres() }}</div>
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-user"></i><b>&nbsp; Main actors</b></h5>
                {% set actors = media.get_actors() %}
                {% if actors[0] == 'Unknown' %}
                    <div><i>No actors found</i></div>
                {% else %}
                    {% for actor in actors %}
                        <a class="text-light" href="/persons/Movies/actor/{{ actor }}"><div>{{ actor }}</div></a>
                    {% endfor %}
                {% endif %}
            </li>
            <li class="m-b-15">
                <h5 class="mb-1 text-media"><i class="fas fa-tag"></i><b>&nbsp; Tagline</b></h5>
                <div>{{ media.tagline }}</div>
            </li>
            <li>
                <h5 class="mb-1 text-media"><i class="fas fa-home"></i><b>&nbsp; Homepage</b></h5>
                {% if media.homepage != 'Unknown' %}
                    <a style="word-break: break-all;" href="{{ media.homepage }}">{{ media.homepage }}</a>
                {% else %}
                    <i>No homepage available</i>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock information %}


{% block more_info %}
    <h4><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp; <b>Box-Office</b></h4><hr>
    <ul class="text-left p-0 m-b-30">
        <li class="m-b-10">
            <div class="row">
                <div class="col-5">
                    <i class="fas fa-coins"></i>&nbsp; Budget
                </div>
                <div class="col-7">
                    {% if media.budget != 0 %}
                        {{ "{:,.0f}".format(media.budget).replace(',', ' ') }} $
                    {% else %}
                        <i>No data available</i>
                    {% endif %}
                </div>
            </div>
        </li>
        <li class="m-b-10">
            <div class="row">
                <div class="col-5">
                   <i class="fas fa-coins"></i>&nbsp; Revenue
                </div>
                <div class="col-7">
                   {% if media.revenue != 0 %}
                        {{ "{:,.0f}".format(media.revenue).replace(',', ' ') }} $
                    {% else %}
                        <i>No data available</i>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
{% endblock more_info %}


{% block follow_more %}
    <div class="follow-status" value="{{ follow[1].status.value }}">
        <i class="fas fa-list"></i>
        <b>&nbsp;Status:&nbsp;{{ follow[1].status.value }}</b>
    </div>
    {% if follow[1].status.value == 'Completed' %}
        <i class="fas fas-sm fa-redo"></i>
        <b>&nbsp;Rewatched:&nbsp; {{ follow[1].rewatched }}</b>
    {% endif %}
{% endblock follow_more %}
