{% extends 'medialist_base.html' %}


{% set categories = ['All', 'Completed', 'Endless', 'Multiplayer', 'Favorite'] %}


{% set all_genres = ["All", "4X", "Action",  "Adventure", "Arcade", "Business", "Card Game", "Comedy", "Drama",
"Educational", "Erotic", "Fantasy", "Fighting","Hack and Slash", "Historical", "Horror", "Indie", "Kids", "MOBA",
"Music", "Mystery", "Non-fiction", "Open world", "Party", "Pinball", "Platform", "Point-and-click", "Puzzle",
"Quiz", "Racing", "Real Time Strategy (RTS)", "Role-playing (RPG)", "Romance", "Sandbox", "Science fiction",
"Shooter", "Simulator", "Sport", "Stealth", "Strategy", "Survival", "Tactical", "Thriller",
"Turn-based strategy (TBS)", "Visual Novel", "Warfare"] %}


{% set all_sort = ['Playtime +', 'Playtime -', 'Title A-Z', 'Title Z-A', 'Score +', 'Score -', 'Score IGDB +',
'Score IGDB -', 'Comments','Release date +','Release date -'] %}


{% block data %}
    {{ media_list }}-{{ media_list }}-{{ item.media.id }}
{% endblock data %}


{% block stats_block %}
    <section class="stats-for-games">
        <div class="row m-b-40">
            <div class="col">
                <h4><i class="fas fa-caret-square-right"></i>&nbsp;&nbsp; By playtime</h4>
                <div class="movies-container">
                    <canvas id="lengths-movies"></canvas>
                    <span id="lengths-movies-bar"
                        values-y="{% for key in data['playtimes'].keys() %} {{ key }}, {% endfor %}"
                        values-x="{% for value in data['playtimes'].values() %}{{ value }}, {% endfor %}">
                    </span>
                </div>
            </div>
            <div class="col">
                <h4><i class="fas fa-calendar-times"></i>&nbsp;&nbsp; By release Dates (decade)</h4>
                <div class="movies-container">
                    <canvas id="periods-movies"></canvas>
                    <span id="periods-movies-bar"
                        values-y="{% for key in data['periods'].keys() %} {{ key }}, {% endfor %}"
                        values-x="{% for value in data['periods'].values() %}{{ value }}, {% endfor %}">
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-b-40">
            <div class="col">
                <h4><i class="fas fa-theater-masks"></i>&nbsp;&nbsp; Top 10 Genres</h4>
                <div class="movies-container">
                    <canvas id="genres-movies"></canvas>
                    <span id="genres-movies-bar"
                      values-y="{% for d in data['genres'] %}{{ d[0] }}, {% endfor %}"
                      values-x="{% for d in data['genres'] %}{{ d[2] }}, {% endfor %}">
                    </span>
                </div>
            </div>
            <div class="col">
                <h4><i class="fas fa-user-alt"></i>&nbsp;&nbsp; Top 10 Platforms</h4>
                <div class="movies-container">
                    <canvas id="actors-movies"></canvas>
                    <span id="actors-movies-bar"
                      values-y="{% for d in data['platforms'] %}{{ d[0] }}, {% endfor %}"
                      values-x="{% for d in data['platforms'] %}{{ d[2] }}, {% endfor %}">
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-b-50">
            <div class="col">
                <h4><i class="fas fa-theater-masks"></i>&nbsp;&nbsp; Top 10 Companies</h4>
                <div class="movies-container">
                    <canvas id="directors-movies"></canvas>
                    <span id="directors-movies-bar"
                      values-y="{% for d in data['companies'] %}{{ d[0] }}, {% endfor %}"
                      values-x="{% for d in data['companies'] %}{{ d[2] }}, {% endfor %}">
                    </span>
                </div>
            </div>
            <div class="col">
                <h4><i class="fas fa-theater-masks"></i>&nbsp;&nbsp; Top 5 perspectives</h4>
                <div class="movies-container">
                    <canvas id="langage-movies"></canvas>
                    <span id="langage-movies-bar"
                      values-y="{% for d in data['top_perspectives'] %}{{ d[0] }}, {% endfor %}"
                      values-x="{% for d in data['top_perspectives'] %}{{ d[2] }}, {% endfor %}">
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock stats_block %}


{% block stats_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/more_stats.js') }}"></script>
{% endblock stats_js %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/medialist_games.js') }}"></script>
{% endblock javascript %}