{% extends "layout.html" %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media_sheet.css') }}">
    <style rel="stylesheet">{% block hr_color scoped %}{% endblock hr_color %}</style>
{% endblock css %}


{% block content %}
    <div class="wrapper">
        <div class="row m-t-30 m-b-10">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="media-title-mobile">
                    <h3><b>{{ media.name }}</b></h3><hr>
                </div>
                <div class="text-center">
                    {% if media.image_cover == 'default.jpg' and media_list == 'bookslist' %}
                        <img class="media-cover" src="{{ media.get_media_cover() }}" alt=""/>
                        <a class="btn btn-danger btn-smaller" data-toggle="modal" data-target="#CoverModal">Add Cover</a>
                        <div class="modal fade" id="CoverModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content text-light bg-dark">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><b>Add book cover</b></h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span style="color: lightgray;">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/update_book_cover/{{ media.id }}" method="POST">
                                        <div class="modal-body">
                                            {{ form.hidden_tag() }}
                                            <div class="p-2">
                                                <div><b>{{ form_cover.image_cover.label() }}:</b></div>
                                                <div>{{ form_cover.image_cover(size=15, style='width: 50%;') }}</div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <img class="media-cover" src="{{ media.get_media_cover() }}" alt=""/>
                    {% endif %}
                </div>
                <div class="m-b-15 m-t-15">
                    <div id="your-medialist-data" class="p-2" {% if not list_info.in_list %}style="display: none;"{% endif %}>
                        <h4 id="fav-title" class="m-l-15 m-r-15">
                            <i class="fas fa-list"></i>&nbsp;&nbsp; <b>List info</b>
                            <i id="favorite" class="fa-heart m-t-3{% if list_info.favorite %} fas favorited {% else %}
                             far no-fav{% endif %}" onclick="addFavorite('{{ media.id }}','{{ media_list }}')"
                             data-toggle="tooltip" title="Favorite"></i>
                        </h4>
                        <hr class="m-l-15 m-r-15 m-b-8">
                        <div class="row m-l-15 m-r-15">
                            <div class="col-4"><b>Status:</b></div>
                            <div class="col-8">
                                <label for="category-dropdown"></label>
                                {% block cat_select scoped %}
                                {% endblock cat_select %}
                                <i id="cat-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
                                &nbsp;<i id="cat-check" class="fas fa-check" style="display: none;"></i>
                            </div>
                        </div>

                        {% block add_more scoped %}
                        {% endblock add_more %}

                        <div id="comp-date-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="Completion date"
                         {% if list_info.status != 'Completed' %} style="display: none;"{% endif %}>
                            <div class="col-4"><b>Comp. date:</b></div>
                            <div class="col-8">
                                <input type="date" value="{{ media.completion_date }}">
                            </div>
                        </div>

                        {% if current_user.add_feeling %}
                            <div class="m-l-25 m-r-35 m-t-8 m-b-8" style="border: 1px solid grey;"></div>
                            <div id="score-row" class="row m-l-15 m-r-15 m-b-5">
                                    <div class="col-4"><b>Feeling:</b></div>
                                    <div id="feelings" class="col-8 d-flex" style="justify-content: space-evenly;">
                                        <a class="feel" onclick="updateFeeling('{{ media.id }}', null, '{{ media_list }}', this)"
                                         {% if list_info.feeling == None %} style="box-shadow: 0 -2px 0 lightgray inset;"{% endif %}>
                                         <i>---</i>
                                        </a>
                                        <a class="feel" onclick="updateFeeling('{{ media.id }}', '5', '{{ media_list }}', this)"
                                                {% if list_info.feeling == '5' %} style="box-shadow: 0 -2px 0 lightgray inset;"{% endif %}>
                                            <i class="fas fa-grin-stars" style="color: #019101;"></i>
                                        </a>
                                        <a class="feel" onclick="updateFeeling('{{ media.id }}', '4', '{{ media_list }}', this)"
                                                {% if list_info.feeling == '4' %} style="box-shadow: 0 -2px 0 lightgray inset;"{% endif %}>
                                            <i class="fas fa-grin-alt" style="color: #59a643;"></i>
                                        </a>
                                        <a class="feel" onclick="updateFeeling('{{ media.id }}', '3', '{{ media_list }}', this)"
                                                {% if list_info.feeling == '3' %} style="box-shadow: 0 -2px 0 lightgray inset;"{% endif %}>
                                            <i class="fas fa-smile" style="color: darkseagreen;"></i>
                                        </a>
                                        <a class="feel" onclick="updateFeeling('{{ media.id }}', '2', '{{ media_list }}', this)"
                                                {% if list_info.feeling == '2' %} style="box-shadow: 0 -2px 0 lightgray inset;"{% endif %}>
                                            <i class="fas fa-frown" style="color: #d0a141;"></i>
                                        </a>
                                        <a class="feel" onclick="updateFeeling('{{ media.id }}', '1', '{{ media_list }}', this)"
                                                {% if list_info.feeling == '1' %} style="box-shadow: 0 -2px 0 lightgray inset;"{% endif %}>
                                            <i class="fas fa-angry" style="color: indianred;"></i>
                                        </a>
                                        <a class="feel" onclick="updateFeeling('{{ media.id }}', '0', '{{ media_list }}', this)"
                                                {% if list_info.feeling == '0' %} style="box-shadow: 0 -2px 0 lightgray inset;"{% endif %}>
                                            <i class="fas fa-poop" style="color: saddlebrown;"></i>
                                        </a>
                                        <i id="score-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
                                        &nbsp;<i id="score-check" class="fas fa-check" style="display: none;"></i>
                                    </div>
                            </div>
                        {% else %}
                            <div class="m-l-25 m-r-35 m-t-8 m-b-8" style="border: 1px solid grey;"></div>
                            <div id="score-row" class="row m-l-15 m-r-15" data-toggle="tooltip" title="Score /10">
                                <div class="col-4"><b>Score:</b></div>
                                <div class="col-8">
                                    <label for="score-dropdown"></label>
                                    <select id="score-dropdown" class="text-light cat-drop" onchange="updateScore(
                                     '{{ media.id }}', this, '{{ media_list }}')">
                                        <option {% if list_info.score == None or list_info.score == -1 %} selected="selected"
                                        {% endif %}value="---">&nbsp;---&nbsp;</option>
                                        {% for i in range(0, 21) %}
                                            <option {% if (i-(i/2)) == list_info.score %} selected="selected" {% endif %}
                                            value="{{ (i-(i/2)) }}">
                                                &nbsp;{{ (i-(i/2)) }}&nbsp;
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <i id="score-loading" class="fas fa-spinner fast-spin" style="display: none;"></i>
                                    &nbsp;<i id="score-check" class="fas fa-check" style="display: none;"></i>
                                </div>
                            </div>
                        {% endif %}

                        {% block add_redo scoped %}
                        {% endblock add_redo %}

                        <h4 id="comment-title" class="m-l-15 m-r-15 m-t-15">
                            <i class="fas fa-pen-alt m-t-10"></i>&nbsp; <b>Comment</b>
                            <a class="far fa-edit m-t-10" data-toggle="tooltip" title="Add/Edit Comment"
                             href="{{ url_for('main.write_comment', media_type=media._group[1].value, media_id=media.id) }}"></a>
                        </h4>
                        <hr class="m-l-15 m-r-15 m-b-8">
                        <p class="comment-style m-l-20 m-r-20">
                            {% if list_info.comment %} {{ list_info.comment }} {% else %} <i>Nothing to display.</i> {% endif %}
                        </p>
                        <div class="text-center m-t-15">
                            <button class="btn btn-smaller btn-danger" onclick="removeFromUser('{{ media.id }}',
                            '{{ media_list }}')">
                                <i class="fas fa-ban"></i>&nbsp; Remove from list
                            </button>
                            <i id="loading-remove-list" class="fas fa-spinner fast-spin" style="display: none;"></i>
                        </div>
                    </div>

                    <div class="text-center">
                        <button id="add-to-list" class="btn btn-smaller btn-info"{% if list_info.in_list %}
                         style="display: none;" {% endif %} onclick="addToUser('{{ media.id }}', '{{ media_list }}')">
                            <i class="fas fa-plus"></i>&nbsp; Add to your list</button>
                        <i id="loading-add-list" class="fas fa-spinner fast-spin" style="display: none;"></i>
                    </div>
                    <div id="add-media" class="alert alert-success p-2" style="display: none;">Media added.</div>
                    <div id="remove-media" class="alert alert-warning p-2" style="display: none;">Media removed.</div>
                    <div id="add-fav" class="alert alert-success p-2" style="display: none;">Added to your favorites.</div>
                    <div id="remove-fav" class="alert alert-warning p-2" style="display: none;">Removed from your favorites.</div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12" style="margin-top: -10px;">
                <div class="media-title-pc">
                    <h3><b>{{ media.name }}</b></h3>
                    {% set original_name = media.get_original_name() %}
                    {% if original_name %}
                        <h5 style="color: darkgray;"><i>{{ original_name }}</i></h5>
                    {% endif %}
                    <hr>
                </div>
                <div class="row p-t-15">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <h4><i class="fas fa-info-circle"></i>&nbsp;&nbsp; <b>Information</b></h4><hr>
                        <div class="row">
                            {% block information scoped %}
                            {% endblock information %}
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        {% block more_info scoped %}
                        {% endblock more_info %}
                        <h4><i class="fas fa-thumbs-up"></i>&nbsp;&nbsp; <b>Similar Genres</b></h4><hr>
                        {% set similar_genres = media.get_similar_genres() %}
                        {% if similar_genres %}
                            {% for sim_genre in similar_genres %}
                                <a class="m-r-10" href="{{ url_for('main.media_sheet', media_type=media._group[1].value,
                                media_id=sim_genre[0].id) }}">
                                    <img class="m-b-10" height="80" width="53" data-toggle="tooltip"
                                     title="{{ sim_genre[0].name }}" src="{{ sim_genre[0].get_media_cover() }}" alt=""/>
                                </a>
                            {% endfor %}
                        {% else %}
                            <i>No media found.</i>
                        {% endif %}
                    </div>
                </div>
                <h4><i class="fas fa-book-open m-t-15"></i>&nbsp;&nbsp; <b>Synopsis</b></h4><hr>
                <p class="m-0 fs-18 text-justify giveMeEllipsis">{{ media.synopsis }}</p><hr class="m-t-15">
            </div>
        </div>
        <div class="follow-margin m-t-40 m-b-30">
            <h4><i class="fas fa-user-check"></i>&nbsp;&nbsp; <b>Follow's list</b></h4><hr>
            <div class="row" style="margin-top: -5px;">
                 {% for follow in media.in_follows_lists() %}
                    <div class="col col-lg-4 col-md-4 col-sm-6 col-12 m-b-35">
                        <a href="{{ url_for('users.account', user_name=follow[0].username) }}">
                            <div class="follow-div text-light">
                                <div class="text-light">
                                    <img class="follow-img" src="{{ url_for('static', filename='profile_pics/'
                                    +follow[0].image_file) }}" alt=""/>
                                    <h5 style="display: inline-block;"><b>&nbsp;&nbsp;{{ follow[0].username }}</b></h5>
                                    <i class="fa-sm fa-heart m-l-10{% if follow[1].favorite %} fas f-favorited{% else %}
                                    far f-no-fav{% endif %}"></i>
                                </div>
                                <hr class="m-b-8" style="border-color: gray;">
                                <i class="fas fa-sm fa-star"></i>

                                {% if follow[0].add_feeling %}
                                    <b>&nbsp;Feeling:&nbsp;</b>
                                    <span>
                                        {% if follow[1].feeling == None %}
                                            <i>---</i>
                                        {% elif follow[1].feeling == '5' %}
                                            <i class="fas fa-grin-stars" style="color: #019101;"></i>
                                        {% elif follow[1].feeling == '4' %}
                                            <i class="fas fa-grin-alt" style="color: #59a643;"></i>
                                        {% elif follow[1].feeling == '3' %}
                                            <i class="fas fa-smile" style="color: darkseagreen;"></i>
                                        {% elif follow[1].feeling == '2' %}
                                            <i class="fas fa-meh" style="color: #d0a141;"></i>
                                        {% elif follow[1].feeling == '1' %}
                                            <i class="fas fa-frown" style="color: indianred;"></i>
                                        {% elif follow[1].feeling == '0' %}
                                            <i class="fas fa-angry" style="color: #ab0202;"></i>
                                        {% endif %}
                                    </span>
                                {% else %}
                                    <b>{% if follow[1].score == -1 or follow[1].score == None %}&nbsp;Score:&nbsp; ---
                                    {% else %}&nbsp;Score:&nbsp; {{ follow[1].score }}{% endif %}</b>
                                {% endif %}

                                {% block follow_more scoped %}
                                {% endblock %}

                                {% if follow[1].comment %}
                                    <div class="m-t-10"><b>Comment:</b></div>
                                    <p class="text-justify commentary"><i>{{ follow[1].comment }}</i></p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if current_user.role.value != 'user' %}
            <div class="m-b-30 text-right">
                {% if media.lock_status %}
                    <div class="custom-control custom-switch">
                        <input id="lock-button" class="custom-control-input" type="checkbox" onchange="lock_media(
                         '{{ media.id }}', '{{ media_list }}')" checked>
                        <label id="lock-button-label" class="custom-control-label" for="lock-button">Media is Locked</label>
                    </div>
                    <a id="edit-button" class="btn btn-sm btn-warning text-dark" href="{{ url_for('main.media_sheet_form',
                     media_type=media._group[1].value, media_id=media.id) }}">Edit media</a>
                {% else %}
                    <div class="custom-control custom-switch">
                        <input id="lock-button" class="custom-control-input" type="checkbox" onchange="lock_media(
                         '{{ media.id }}', '{{ media_list }}')">
                        <label id="lock-button-label" class="custom-control-label" for="lock-button">Media is Unlocked</label>
                    </div>
                    <a id="edit-button" class="btn btn-sm btn-warning text-dark" href="{{ url_for('main.media_sheet_form',
                     media_type=media._group[1].value, media_id=media.id) }}" style="display: none;">Edit media</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/media_sheet.js') }}"></script>
{% endblock script %}

