{% extends "layout.html" %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mylists_stats.css') }}">
{% endblock css %}


{% block content %}
    <div class="m-l-30 m-r-30 mobile-margin">
        <div class="text-center m-t-30 p-2 m-l-9 m-r-9" data-toggle="tooltip" title="Total time watched"
         style="font-size: 50pt; background: #172027;">
            <i class="fas fa-clock" style="color: lightgray;"></i>
            <b class="m-l-20">{{ all_stats['total_time']["total"] }}</b>
        </div>
        <section class="statistics m-t-20 p-2">
            <div class="row">
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="text-center">
                        <div class="box mb-0 p-2">
                            <i class="fas fa-lg fa-tv text-center bg-series rounded-circle"></i>
                            <div class="text-center m-t-5 m-b-0">
                                <div class="fs-20 mb-0"><b>{{ all_stats['nb_media']["series"] }} Series</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="text-center">
                        <div class="box mb-0 p-2">
                            <i class="fas fa-lg fa-torii-gate text-center bg-anime rounded-circle"></i>
                            <div class="text-center m-t-5 m-b-0">
                                <div class="fs-20 mb-0"><b>{{ all_stats['nb_media']["anime"] }} Anime</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="text-center">
                        <div class="box mb-0 p-2">
                            <i class="fas fa-lg fa-film text-center bg-movies rounded-circle"></i>
                            <div class="text-center m-t-5 m-b-0">
                                <div class="fs-20 mb-0"><b>{{ all_stats['nb_media']["movies"] }} Movies</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="text-center">
                        <div class="box mb-0 p-2">
                            <i class="fas fa-lg fa-book text-center bg-books rounded-circle"></i>
                            <div class="text-center m-t-5 m-b-0">
                                <div class="fs-20 mb-0"><b>{{ all_stats['nb_media']["books"] }} Books</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="text-center">
                        <div class="box mb-0 p-2">
                            <i class="fas fa-lg fa-gamepad text-center bg-games rounded-circle"></i>
                            <div class="text-center m-t-5 m-b-0">
                                <div class="fs-20 mb-0"><b>{{ all_stats['nb_media']["games"] }} Games</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="text-center">
                        <div class="box mb-0 p-2">
                            <i class="fas fa-lg fa-user text-center bg-danger rounded-circle"></i>
                            <div class="text-center m-t-5 m-b-0">
                                <div class="fs-20 mb-0"><b>{{ all_stats['nb_users'] }} Users</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center m-t-20 m-b-15">
                <div class="col">
                    <div class="p-t-10 p-b-10" style="background: #172027;">
                        <div class="fs-16"><b>SERIES</b></div><hr class="m-1 p-0 top-series">
                        <div><b>{{ all_stats['total_seasons']['series'] }} seasons</b></div>
                        <div><b>{{ all_stats['total_episodes']['series'] }} episodes</b></div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-t-10 p-b-10" style="background: #172027;">
                        <div class="fs-16"><b>ANIME</b></div><hr class="m-1 p-0 top-anime">
                        <div><b>{{ all_stats['total_seasons']['anime'] }} seasons</b></div>
                        <div><b>{{ all_stats['total_episodes']['anime'] }} episodes</b></div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-t-10 p-b-35" style="background: #172027;">
                        <div class="fs-16"><b>BOOKS</b></div><hr class="m-1 p-0 top-books">
                        <div><b>{{ all_stats['total_pages'] }} pages</b></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="general-graphs p-2 m-b-10">
            <div class="media-container p-2" style="background: #172027;">
                <canvas id="media-time"></canvas>
                <span id="time-spent-pie" values="{{ all_stats['total_time']['series'] }}, {{ all_stats['total_time']['anime'] }}, {{ all_stats['total_time']['movies'] }}, {{ all_stats['total_time']['games'] }}, {{ all_stats['total_time']['books'] }}"></span>
            </div>
        </section>
        <section class="series p-2">
            <div class="row">
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP SERIES</b></h5>
                        <hr class="mb-0 mt-0 top-series">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_media']["series"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP GENRES</b></h5>
                        <hr class="mb-0 mt-0 top-series">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_genres']["series"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP ACTORS</b></h5>
                        <hr class="mb-0 mt-0 top-series">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_actors']["series"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP DROPPED</b></h5>
                        <hr class="mb-0 mt-0 top-series">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_dropped']["series"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="anime p-2">
            <div class="row">
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP ANIME</b></h5>
                        <hr class="mb-0 mt-0 top-anime">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_media']["anime"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP GENRES</b></h5>
                        <hr class="mb-0 mt-0 top-anime">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_genres']["anime"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP ACTORS</b></h5>
                        <hr class="mb-0 mt-0 top-anime">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_actors']["anime"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP DROPPED</b></h5>
                        <hr class="mb-0 mt-0 top-anime">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_dropped']["anime"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="movies p-2">
            <div class="row">
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP MOVIES</b></h5>
                        <hr class="mb-0 mt-0 top-movies">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_media']["movies"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP GENRES</b></h5>
                        <hr class="mb-0 mt-0 top-movies">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_genres']["movies"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP ACTORS</b></h5>
                        <hr class="mb-0 mt-0 top-movies">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_actors']["movies"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP DIRECTORS</b></h5>
                        <hr class="mb-0 mt-0 top-movies">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_directors']["movies"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="books p-2">
            <div class="row">
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP BOOKS</b></h5>
                        <hr class="mb-0 mt-0 top-books">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_media']["books"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP GENRES</b></h5>
                        <hr class="mb-0 mt-0 top-books">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_genres']["books"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP AUTHORS</b></h5>
                        <hr class="mb-0 mt-0 top-books">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_authors']["books"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="games p-2 m-b-50">
            <div class="row">
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP GAMES</b></h5>
                        <hr class="mb-0 mt-0 top-games">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_media']["games"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP GENRES</b></h5>
                        <hr class="mb-0 mt-0 top-games">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_genres']["games"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg col-sm-12 col-md-6 m-b-10">
                    <div class="p-2" style="background: #172027;">
                        <h5><b>TOP DEVELOPERS</b></h5>
                        <hr class="mb-0 mt-0 top-games">
                        <table class="table table-sm text-light">
                            <tbody>
                            {% for media in all_stats['top_developers']["games"] %}
                                <tr>
                                    <td class="text-center" style="border: none;">{{ media['quantity'] }}</td>
                                    <td class="giveMeEllipsis" style="border: none;">{{ media['info'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mylists_stats.js') }}"></script>
{% endblock script %}