{% extends "layout.html" %}


{% block css %}
    <style>
        hr {
            border-top: 1px solid rgba(44, 57, 70, 1);
            margin-top: 1px;
        }
        .vertical_line {
            width: 5px;
            border-left: 2px solid rgba(44, 57, 70, 1);
            height: 100wh;
        }
    </style>
{% endblock css %}


{% block content %}
{#    {% if not current_user.get_task_in_progress('import_list') %}#}
{#        <div class="text-left m-t-30 m-b-60">#}
{#            <h4>&nbsp;&nbsp;<i class="fas fa-file-import"></i>&nbsp;&nbsp; List import</h4>#}
{#            <hr>#}
{#            <form method="POST" action="" enctype="multipart/form-data">#}
{#                {{ import_form.hidden_tag() }}#}
{#                <div class="m-l-20">#}
{#                    Import your list as csv from TMDb:&nbsp;&nbsp; {{ import_form.csv_list() }}#}
{#                    {{ import_form.submit(class="btn btn-outline-info p-2") }}#}
{#                    {% for error in import_form.csv_list.errors %}#}
{#                        <div style="color: red;">{{ error }}</div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    {% endif %}#}
    <div class="row text-center m-t-60 m-b-60">
        <div class="col">
            <h4><i class="fas fa-sliders-h"></i>&nbsp;&nbsp; General Settings</h4><hr>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ settings_form.hidden_tag() }}
                <div class="m-t-30">
                    {{ settings_form.username.label }}<br>
                    {{ settings_form.username(size=28) }}<br>
                    {% for error in settings_form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ settings_form.email.label }}<br>
                    {{ settings_form.email(size=28) }}<br>
                    {% for error in settings_form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ settings_form.isprivate.label }}: &nbsp;&nbsp;&nbsp; {{ settings_form.isprivate() }}<br>
                    {% for error in settings_form.isprivate.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ settings_form.add_books.label }}: &nbsp;&nbsp;&nbsp; {{ settings_form.add_books() }}<br>
                    {% for error in settings_form.add_books.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ settings_form.add_games.label }}: &nbsp;&nbsp;&nbsp; {{ settings_form.add_games() }}<br>
                    {% for error in settings_form.add_games.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ settings_form.add_feeling.label }}: &nbsp;&nbsp;&nbsp; {{ settings_form.add_feeling() }}<br>
                    {% for error in settings_form.add_feeling.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div id="profile-pic" class="m-t-30">
                    {{ settings_form.picture.label }}<br>
                    {{ settings_form.picture() }}<br>
                    {% for error in settings_form.picture.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div id="back-pic" class="m-t-30">
                    {{ settings_form.back_picture.label }}<br>
                    {{ settings_form.back_picture() }}<br>
                    {% for error in settings_form.back_picture.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ settings_form.submit_account(class="btn btn-outline-info p-2 m-b-40") }}
                </div>
            </form>
        </div>
        <div class="vertical_line"></div>
        <div class="col">
            <h4><i class="fas fa-unlock-alt"></i>&nbsp;&nbsp; Change your password</h4>
            <hr>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ password_form.hidden_tag() }}
                <div class="m-t-30">
                    {{ password_form.current_password.label }}<br>
                    {{ password_form.current_password(size=28) }}<br>
                    {% for error in password_form.current_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ password_form.new_password.label }}<br>
                    {{ password_form.new_password(size=28) }}<br>
                    {% for error in password_form.new_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ password_form.confirm_new_password.label }}<br>
                    {{ password_form.confirm_new_password(size=28) }}<br>
                    {% for error in password_form.confirm_new_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="m-t-30">
                    {{ password_form.submit_password(class="btn btn-outline-info p-2") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script>
        let back_pic = $("#back-pic");
        let profile_pic = $("#profile-pic");
        {% if back_pic %}
            back_pic.css('border', '2px brown solid');
            back_pic.css('padding', '15px');
        {% endif %}
        {% if pic %}
            profile_pic.css('border', '2px brown solid');
            profile_pic.css('padding', '15px');
        {% endif %}
    </script>
{% endblock script %}
