{% extends "layout.html" %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mymedialist.css') }}">
{% endblock css %}


{% block content %}
    <div class="m-t-50 ml-auto mr-auto m-b-50">
        <div class="m-b-40">
            <a class="text-light" data-toggle="collapse" href=".series-collapse" onclick="change_caret(this)">
                <h4 class="mb-2 p-1 left-series right-series" style="background: #514d49;">
                    &nbsp; <i class="fas fa-caret-down"></i>
                    <b>&nbsp;NEXT SERIES TO AIR</b>
                </h4>
            </a>
            <div class="row series-collapse collapse show ac">
            {% if not airing_series %}
                <div class="col-12 text-center m-b-40"><i><b>No next airing found in your SeriesList.</b></i></div>
            {% else %}
                {% for series in airing_series %}
                    <div class="card-container col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 m-t-15">
                        <div class="card bg-transparent">
                            <div class="view overlay">
                                <img class="card-img-top" src="/static/covers/series_covers/{{ series[0].image_cover }}"
                                     style="height: auto;" alt=""/>
                                <a class="mask flex-center rgba-black-strong" href="/media_sheet/Series/{{ series[0].id }}">
                                    <span class="font-mask text-center text-light">{{ series[0].name }}</span>
                                </a>
                            </div>
                            <div class="absolute-data text-center bg-series">
                                S{{ '{:02d}'.format(series[0].season_to_air) }}
                                &nbsp; - &nbsp;
                                E{{ '{:02d}'.format(series[0].episode_to_air) }}
                            </div>
                            <div class="absolute-data-2 text-center bg-series">
                               {{ series_dates[loop.index0] }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        </div>
        <div class="m-b-40">
            <a class="text-light" data-toggle="collapse" href=".anime-collapse" onclick="change_caret(this)">
                <h4 class="mb-2 p-1 left-anime right-anime" style="background: #514d49;">
                    &nbsp;
                    <i class="fas fa-caret-down"></i>
                    <b>&nbsp;NEXT ANIME TO AIR</b>
                </h4>
            </a>
            <div class="row anime-collapse collapse show ac">
                {% if not airing_anime %}
                    <div class="col-12 text-center m-b-40"><i><b>No next airing found in your AnimeList.</b></i></div>
                {% else %}
                    {% for anime in airing_anime %}
                        <div class="card-container col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 m-t-15">
                            <div class="card bg-transparent">
                                <div class="view overlay">
                                    <img class="card-img-top" src="/static/covers/anime_covers/{{ anime[0].image_cover }}"
                                         style="height: auto;" alt=""/>
                                    <a class="mask flex-center rgba-black-strong" href="/media_sheet/Anime/{{ anime[0].id }}">
                                        <span class="font-mask text-center text-light">{{ anime[0].name }}</span>
                                    </a>
                                </div>
                                <div class="absolute-data text-center bg-anime">
                                    S{{ '{:02d}'.format(anime[0].season_to_air) }}
                                    &nbsp; - &nbsp;
                                    E{{ '{:02d}'.format(anime[0].episode_to_air) }}
                                </div>
                                <div class="absolute-data-2 text-center bg-anime">
                                   {{ anime_dates[loop.index0] }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="m-b-40">
            <a class="text-light" data-toggle="collapse" href=".movies-collapse" onclick="change_caret(this)">
                <h4 class="mb-2 p-1 left-movies right-movies" style="background: #514d49;">
                    &nbsp;
                    <i class="fas fa-caret-down"></i>
                    <b>&nbsp;NEXT MOVIES TO AIR</b>
                </h4>
            </a>
            <div class="row movies-collapse collapse show ac">
                {% if not airing_movies %}
                    <div class="col-12 text-center m-b-40"><i><b>No next airing found in your MoviesList.</b></i></div>
                {% else %}
                    {% for movies in airing_movies %}
                        <div class="card-container col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 m-t-15">
                            <div class="card bg-transparent">
                                <div class="view overlay">
                                    <img class="card-img-top" src="/static/covers/movies_covers/{{ movies[0].image_cover }}"
                                         height="300" width="200" style="height: auto;" alt=""/>
                                    <a class="mask flex-center rgba-black-strong" href="/media_sheet/Movies/{{ movies[0].id }}">
                                        <span class="font-mask text-center text-light">{{ movies[0].name }}</span>
                                    </a>
                                </div>
                                <div class="absolute-data-2 text-center bg-movies">
                                    {{ movies_dates[loop.index0] }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div>
            <a class="text-light" data-toggle="collapse" href=".games-collapse" onclick="change_caret(this)">
                <h4 class="mb-2 p-1 left-games right-games" style="background: #514d49;">
                    &nbsp;
                    <i class="fas fa-caret-down"></i>
                    <b>&nbsp;NEXT GAMES TO AIR</b>
                </h4>
            </a>
            <div class="row games-collapse collapse show ac">
                {% if not airing_games %}
                    <div class="col-12 text-center m-b-40"><i><b>No next airing found in your GamesList.</b></i></div>
                {% else %}
                    {% for game in airing_games %}
                        <div class="card-container col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 m-t-15">
                            <div class="card bg-transparent">
                                <div class="view overlay">
                                    <img class="card-img-top" src="/static/covers/games_covers/{{ game.image_cover }}"
                                         height="300" width="200" style="height: auto;" alt=""/>
                                    <a class="mask flex-center rgba-black-strong" href="/media_sheet/Games/{{ game.id }}">
                                        <span class="font-mask text-center text-light">{{ game.name }}</span>
                                    </a>
                                </div>
                                <div class="absolute-data-2 text-center bg-games">
                                    {{ games_dates[loop.index0] }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script>
        $(document).ready(function() {
            // --- Create Row gutters -----------------------------
            let $row = $('.row');
            function a() {
                if ($(window).width() < 1025) {
                    return $row.addClass('no-gutters');
                }
                $row.removeClass('no-gutters');
            }
            $(window).resize(a).trigger('resize');
        });

        function change_caret(caret_div) {
            let $caret_div = $(caret_div).children().children().siblings().first();
            console.log($(caret_div).children().siblings().first());
            if ($caret_div.hasClass('fas fa-caret-down')) {
                $caret_div.removeClass('fas fa-caret-down');
                $caret_div.addClass('fas fa-caret-right');
            }
            else {
                $caret_div.removeClass('fas fa-caret-right');
                $caret_div.addClass('fas fa-caret-down');
            }
        }
    </script>
{% endblock script %}
