@tailwind base;
@tailwind components;
@tailwind utilities;


/* --- MEDIA/USER COLORS ---------------------------------------------------------------------------------- */

.text-user {
    color: #6e6e6e;
}

.text-series {
    color: #216e7d;
}

.text-anime {
    color: #945141;
}

.text-movies {
    color: #8c7821;
}

.text-books {
    color: #584c6e;
}

.text-games {
    color: #196219;
}

.bg-user {
    color: #6e6e6e;
}

.bg-series {
    background: #216e7d;
}

.bg-anime {
    background: #945141;
}

.bg-movies {
    background: #8c7821;
}

.bg-books {
    background: #584c6e;
}

.bg-games {
    background: #196219;
}


/* --- TAILWIND ------------------------------------------------------------------------------------------- */

@layer base {
    :root {
        --background: 0 0% 6%;
        --foreground: 0 0% 98%;
        --card: 206 18% 10%;
        --card-foreground: 0 0% 89%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;

        --color-1: 0 100% 63%;
        --color-2: 270 100% 63%;
        --color-3: 210 100% 63%;
        --color-4: 195 100% 63%;
        --color-5: 90 100% 63%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
