{% extends "layout.html" %}


{% block css %}
<style>
    .vertical_line {
        width: 5px;
        border-left: 2px solid rgba(44, 57, 70, 1);
        height: 100wh;
    }
</style>
{% endblock %}


{% block content %}
<div class="row m-t-60">
    <div class="col">
        <h2>Users</h2>
        <ul>
            <li><a class='text-light' href="{{ url_for('user.index_view') }}">User</a></li>
            <li><a class='text-light' href="{{ url_for('userlastupdate.index_view') }}">User Last Update</a></li>
        </ul>
    </div>
    <div class="vertical_line"></div>
    <div class="col">
        <h2>Series</h2>
        <ul>
            <li><a class='text-light' href="{{ url_for('series.index_view') }}">Series</a></li>
            <li><a class='text-light' href="{{ url_for('serieslist.index_view') }}">Series list</a></li>
            <li><a class='text-light' href="{{ url_for('seriesepisodesperseason.index_view') }}">Series episodes per season</a></li>
            <li><a class='text-light' href="{{ url_for('seriesgenre.index_view') }}">Series genres</a></li>
            <li><a class='text-light' href="{{ url_for('seriesnetwork.index_view') }}">Series networks</a></li>
            <li><a class='text-light' href="{{ url_for('seriesactors.index_view') }}">Series actors</a></li>
        </ul>
     </div>
    <div class="vertical_line"></div>
    <div class="col">
        <h2>Movies</h2>
        <ul>
            <li><a class='text-light' href="{{ url_for('movies.index_view') }}">Movies</a></li>
            <li><a class='text-light' href="{{ url_for('movieslist.index_view') }}">Movies list</a></li>
            <li><a class='text-light' href="{{ url_for('moviesgenre.index_view') }}">Movies genres</a></li>
            <li><a class='text-light' href="{{ url_for('moviesactors.index_view') }}">Movies actors</a></li>
        </ul>
    </div>
        <div class="vertical_line"></div>
    <div class="col">
        <h2>Games</h2>
        <ul>
            <li><a class='text-light' href="{{ url_for('games.index_view') }}">Games</a></li>
            <li><a class='text-light' href="{{ url_for('gameslist.index_view') }}">Games list</a></li>
            <li><a class='text-light' href="{{ url_for('gamesgenre.index_view') }}">Games genres</a></li>
            <li><a class='text-light' href="{{ url_for('gamescompanies.index_view') }}">Games companies</a></li>
            <li><a class='text-light' href="{{ url_for('gamesplatforms.index_view') }}">Games platforms</a></li>
        </ul>
    </div>
</div>
{% endblock %}