flask
flask-sqlalchemy
flask-bcrypt
flask-cors
flask-mail
flask-caching
flask-httpauth
flask-migrate
flask-marshmallow
flask-admin
marshmallow
marshmallow-sqlalchemy
pillow
PyJWT
requests
howlongtobeatpy
ratelimit
python-dotenv
gunicorn
