{% extends "layout.html" %}


{% block css %}
    <style>
        .small-container {
            padding: 10px;
            width: 50wv;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock css %}


{% block content %}
    <div class="small-container m-t-40 m-b-40">
        <h5><b>About Mylists.info</b></h5>
        <p class="text-justify">
            We are only 2 french persons maintaining this website. It is just a small project on our free time to
            know where we are in our TV shows, movies, games or books for us and our friends. If you have any
            constructive remarks, find any bugs or want to be involved in the evolution of Mylists.info, please do not
            hesitate and
            <script>
                let part1 = "contact";
                let part2 = Math.pow(2, 6);
                let part3 = String.fromCharCode(part2);
                let part4 = "mylists.info";
                let part5 = part1 + String.fromCharCode(part2) + part4;
                document.write("<a href=" + "mai" + "lto" + ":" + part5 + ">" + part1 + " us" + "</a>");
            </script>&nbsp;<i class="fas fa-heart"></i>.
        </p>

        <h5 class="m-t-40"><b>About Flask</b></h5>
        <p class="text-justify">
            MyLists.info is powered server side by Flask, and uses Jinja2, itsDangerous, Werkzeug from:
            <a href="https://palletsprojects.com/">palletsprojects.com</a>. The license of Flask can be found
            <a href="https://flask.palletsprojects.com/en/2.0.x/license/">here</a>.
        </p>

        <h5 class="m-t-40"><b>About MDB</b></h5>
        <p class="text-justify">
            MyLists.info uses <a href="https://mdbootstrap.com/">Material Design for Bootstrap</a>.
            The license of MDB can be found <a href="https://mdbootstrap.com/general/license/">here</a>.
        </p>

        <h5 class="m-t-40"><b>About TMDB API</b></h5>
        <p class="text-justify">
            MyLists.info uses the <a href="https://www.themoviedb.org/">TMDB</a> API but is not endorsed or certified
            by TMDB. Here is the link to the <a href="https://www.themoviedb.org/documentation/api">TMDb API</a>.
        </p>

        <h5 class="m-t-40"><b>About IGDB API</b></h5>
        <p class="text-justify">
            MyLists.info uses the <a href="https://www.igdb.com/">IGDB</a> API but is not endorsed or certified by IGDB.
            Here is the link to the <a href="https://api-docs.igdb.com/">IGDB API</a>.
        </p>

        <h5 class="m-t-40"><b>About Google Books API</b></h5>
        <p class="text-justify">
            MyLists.info uses the <a href="https://books.google.com/">Google Books</a> API but is not endorsed or
            certified by Google. Here is the link to the
            <a href="https://developers.google.com/books/">Google Books API</a>.
        </p>

    </div>
{% endblock content %}
