{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hall_of_fame.css') }}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <div class="text-light m-t-50">
        <h4 class="mb-2 p-1" style="background: #514d49;"><b>&nbsp;HALL OF FAME</b></h4>
    </div>
    <div class="m-t-20 hof ml-auto mr-auto m-b-60">
        <table id="hall_of_fame" class="table table-responsive-sm text-light">
            <thead>
            <tr>
                <th class="text-center">Level</th>
                <th class="text-center">Username</th>
                <th class="text-center">Series</th>
                <th class="text-center">Anime</th>
                <th class="text-center">Movies</th>
                <th class="text-center">Books</th>
                <th class="text-center">Games</th>
            </tr>
            </thead>
            <tbody>
                {% for user in all_data %}
                    <tr class="{% if user.current_user %} current_user {% endif %}">
                        <td style="min-width: 180px; max-width: 180px;">
                            <div style="position: relative;">
                                <img class="profile-picture" src="{{ url_for('static',
                                 filename='profile_pics/'+user.image_file) }}" alt="">
                                <img class="frame-picture" src="{{ user.frame_image }}.png" alt="">
                                <div class="frame-level">{{ user.knowledge_level }}</div>
                            </div>
                        </td>
                        <td>
                            <a href="{{ url_for('users.account', username=user.username) }}">
                                <b>{{ user.username }}</b>
                            </a>
                            <div><b>#{{ loop.index }}</b></div>
                        </td>
                        <td>
                            <a class="text-light" href="{{ url_for('main.medialist', media_list='serieslist',
                             username=user.username) }}">
                                <img class="grade_picture" src="static/img/levels_ranks/{{ user.series_data.image_id }}.png" alt="">
                                <br>{{ user.series_data_level }}
                            </a>
                        </td>
                        <td>
                            {% if user['add_anime'] %}
                                <a class="text-light" href="{{ url_for('main.medialist', media_list='animelist',
                                 username=user.username) }}">
                                    <img class="grade_picture" src="static/img/levels_ranks/{{ user.anime_data.image_id }}.png" alt="">
                                    <br>{{ user.anime_data_level }}
                                </a>
                            {% else %}
                                <span>Not<br>activated</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="text-light" href="{{ url_for('main.medialist', media_list='movieslist',
                             username=user.username) }}">
                                <img class="grade_picture" src="static/img/levels_ranks/{{ user.movies_data.image_id }}.png" alt="">
                                <br>{{ user.movies_data_level }}
                            </a>
                        </td>
                        <td>
                            {% if user['add_books'] %}
                                <a class="text-light" href="{{ url_for('main.medialist', media_list='bookslist',
                                username=user.username) }}">
                                    <img class="grade_picture" src="static/img/levels_ranks/{{ user.books_data.image_id }}.png" alt="">
                                    <br>{{ user.books_data_level }}
                                </a>
                            {% else %}
                                <span>Not<br>activated</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if user['add_games'] %}
                                <a class="text-light" href="{{ url_for('main.medialist', media_list='gameslist',
                                username=user.username) }}">
                                    <img class="grade_picture" src="static/img/levels_ranks/{{ user.games_data.image_id }}.png" alt="">
                                    <br>{{ user.games_data_level }}
                                </a>
                            {% else %}
                                <span>Not<br>activated</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hall_of_fame.js') }}"></script>
{% endblock script %}

