{% extends 'medialist/medialist_base.html' %}


{% set categories = ['All', 'Watching', 'Completed', 'On Hold', 'Random', 'Dropped', 'Plan to Watch', 'Favorite'] %}


{% set all_sort = ['Title A-Z', 'Title Z-A', 'Score +', 'Score -', 'Score TMDB +', 'Score TMDB -', 'Rewatch',
'Comments', 'Release date +','Release date -'] %}


{% block data %}
    {{ item.media.eps_per_season }}-{{ media_type }}-{{ item.media.id }}
{% endblock data %}


{% block seas_eps_drop %}
    {% if item.status.value == 'Random' or item.status.value == 'Plan to Watch' %}
        <div class="seas-eps-drop-container">
            <select class="seas-eps-drop disabled" style="appearance: none;">
                <option class="seas-eps-drop-options">---</option>
            </select>
            <span style="border-right: 2px solid gray;"></span>
            <select class="seas-eps-drop disabled" style="appearance: none;">
                <option class="seas-eps-drop-options">---</option>
            </select>
        </div>
    {% else %}
        <div class="seas-eps-drop-container{% if current_user.get_id() != user.id %} disabled{% endif %}">
            <select id="S_{{ item.id }}" class="seas-eps-drop" onchange="updateSeason('{{ item.media.id }}', this)">
                {% for i in range(item.media.eps_per_season|length) %}
                    <option class="seas-eps-drop-options" {% if i + 1 == item.current_season %}
                            selected="selected"{% endif %}>
                        {{ "S{:02}".format(i + 1) }}
                    </option>
                {% endfor %}
            </select>
            <span style="border-right: 2px solid gray;"></span>
            <select id="E_{{ item.media.id }}" class="text-light p-0 seas-eps-drop"
             onchange="updateEpisode('{{ item.media.id }}', this, '{{ media_type }}')">
                {% if category == 'Plan to Watch' or category == 'Random' %}
                    {% for i in range(0, item.media.eps_per_season[item.current_season - 1].episodes) %}
                        <option class="seas-eps-drop-options" {% if i + 1 == 1 %} selected="selected" {% endif %}>
                            {{ "E{:02}".format(i + 1) }}
                        </option>
                    {% endfor %}
                {% else %}
                    {% for i in range(item.media.eps_per_season[item.current_season - 1].episodes) %}
                        <option class="seas-eps-drop-options" {% if i + 1 == item.last_episode_watched %} selected="selected" {% endif %}>
                            {{ "E{:02}".format(i + 1) }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    {% endif %}
{% endblock seas_eps_drop %}


{% block stats_block %}
    <section class="stats-for-series">
        <div class="row">
            <div class="col">
                <h4><i class="fas fa-caret-square-right"></i>&nbsp;&nbsp; By number of episodes</h4>
                <div class="movies-container">
                    <canvas id="lengths-movies"></canvas>
                    <span id="lengths-movies-bar"
                          values-y="{% for key in data['eps_time'].keys() %} {{ key }}, {% endfor %}"
                          values-x="{% for value in data['eps_time'].values() %}{{ value }}, {% endfor %}">
                    </span>
                </div>
            </div>
            <div class="col">
                <h4><i class="fas fa-calendar-times"></i>&nbsp;&nbsp; By first airing dates (half decade)</h4>
                <div class="movies-container">
                    <canvas id="periods-movies"></canvas>
                    <span id="periods-movies-bar"
                          values-y="{% for d in data['periods'] %}{{ d[3] }}, {% endfor %}"
                          values-x="{% for d in data['periods'] %}{{ d[2] }}, {% endfor %}">
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-t-40 m-b-50">
            <div class="col-6">
                <h4><i class="fas fa-theater-masks"></i>&nbsp;&nbsp; Top 10 Genres</h4>
                <div class="movies-container">
                    <canvas id="genres-movies"></canvas>
                    <span id="genres-movies-bar"
                      values-y="{% for d in data['genres'] %}{{ d[0] }}, {% endfor %}"
                      values-x="{% for d in data['genres'] %}{{ d[2] }}, {% endfor %}">
                    </span>
                </div>
            </div>
            <div class="col-6">
                <h4><i class="fas fa-user-alt"></i>&nbsp;&nbsp; Top 10 Networks</h4>
                <div class="movies-container">
                    <canvas id="actors-movies"></canvas>
                    <span id="actors-movies-bar"
                      values-y="{% for d in data['networks'] %}{{ d[0] }}, {% endfor %}"
                      values-x="{% for d in data['networks'] %}{{ d[2] }}, {% endfor %}">
                    </span>
                </div>
            </div>
            {% if media_type == 'series' %}
                <div class="m-t-40 col-6">
                    <h4><i class="fas fa-user-alt"></i>&nbsp;&nbsp; Top 10 Countries</h4>
                    <div class="movies-container">
                        <canvas id="directors-movies"></canvas>
                        <span id="directors-movies-bar"
                          values-y="{% for d in data['countries'] %}{{ d[0] }}, {% endfor %}"
                          values-x="{% for d in data['countries'] %}{{ d[2] }}, {% endfor %}">
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock stats_block %}


{% block stats_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/more_stats.js') }}"></script>
{% endblock stats_js %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/medialist_tv.js') }}"></script>
{% endblock javascript %}