{% extends 'medialist/medialist_base.html' %}


{% set all_genres = ['All', 'Action & Adventure', 'Biography', 'Chick lit', 'Children', 'Classic', 'Crime', 'Drama',
'Dystopian', 'Fantastic', 'Fantasy', 'History', 'Humor', 'Horror', 'Mystery', 'Paranormal', 'Philosophy', 'Poetry',
'Romance', 'Science', 'Science-Fiction', 'Short story', 'Suspense', 'Thriller', 'Western', 'Young adult'] %}


{% set categories = ['All', 'Reading', 'Completed', 'On Hold', 'Dropped', 'Plan to Read', 'Favorite'] %}


{% set all_sort = ['Title A-Z', 'Title Z-A', 'Score +', 'Score -', 'Re-read', 'Comments', 'Published date +',
'Published date -'] %}


{% block data %}
    {{ media_type }}-{{ media_type }}-{{ item.media.id }}
{% endblock data %}


{% block seas_eps_drop %}
    {% if item.status.value == 'Plan to Read' %}
        <div class="seas-eps-drop-container">
            <select class="seas-eps-drop disabled" style="appearance: none;">
                <option class="seas-eps-drop-options">---</option>
            </select>
            <span style="border-right: 2px solid gray;"></span>
            <select class="seas-eps-drop disabled" style="appearance: none;">
                <option class="seas-eps-drop-options">---</option>
            </select>
        </div>
    {% else %}
        <div class="seas-eps-drop-container" {% if category == 'Plan to Read' %} style="display: none;"{% endif %}>
            <span><input id="input_{{ item.media.id }}" class="book-input" value="{{ item.actual_page }}"
            onchange="updatePages({{ item.media.id }}, this)"></span>/
            <span>{{ item.media.pages }}</span>
        </div>
    {% endif %}
{% endblock seas_eps_drop %}


{% block stats_block %}
    <section class="stats-for-books">
        <div class="row m-b-40">
            <div class="col">
                <h4><i class="fas fa-caret-square-right"></i>&nbsp;&nbsp; By pages</h4>
                <div class="movies-container">
                    <canvas id="lengths-movies"></canvas>
                    <span id="lengths-movies-bar"
                          values-y="{% for key in data['pages'].keys() %} {{ key }}, {% endfor %}"
                          values-x="{% for value in data['pages'].values() %}{{ value }}, {% endfor %}">
                        </span>
                </div>
            </div>
            <div class="col">
                <h4><i class="fas fa-calendar-times"></i>&nbsp;&nbsp; By published dates (decade)</h4>
                <div class="movies-container">
                    <canvas id="periods-movies"></canvas>
                    <span id="periods-movies-bar"
                          values-y="{% for d in data['periods'] %}{{ d[3] }}, {% endfor %}"
                          values-x="{% for d in data['periods'] %}{{ d[2] }}, {% endfor %}">
                        </span>
                </div>
            </div>
        </div>
        <div class="row m-b-40">
            <div class="col">
                <h4><i class="fas fa-theater-masks"></i>&nbsp;&nbsp; Top 10 Genres</h4>
                <div class="movies-container">
                    <canvas id="genres-movies"></canvas>
                    <span id="genres-movies-bar"
                          values-y="{% for d in data['genres'] %}{{ d[0] }}, {% endfor %}"
                          values-x="{% for d in data['genres'] %}{{ d[2] }}, {% endfor %}">
                        </span>
                </div>
            </div>
            <div class="col">
                <h4><i class="fas fa-theater-masks"></i>&nbsp;&nbsp; Top 10 Authors</h4>
                <div class="movies-container">
                    <canvas id="actors-movies"></canvas>
                    <span id="actors-movies-bar"
                          values-y="{% for d in data['top_authors'] %}{{ d[0] }}, {% endfor %}"
                          values-x="{% for d in data['top_authors'] %}{{ d[2] }}, {% endfor %}">
                        </span>
                </div>
            </div>
        </div>
        <div class="row m-b-50">
            <div class="col">
                <h4><i class="fas fa-user-alt"></i>&nbsp;&nbsp; Top 5 Languages</h4>
                <div class="movies-container">
                    <canvas id="directors-movies"></canvas>
                    <span id="directors-movies-bar"
                          values-y="{% for d in data['top_languages'] %}{{ d[0] }}, {% endfor %}"
                          values-x="{% for d in data['top_languages'] %}{{ d[2] }}, {% endfor %}">
                        </span>
                </div>
            </div>
        </div>
    </section>
{% endblock stats_block %}


{% block stats_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/more_stats.js') }}"></script>
{% endblock stats_js %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/medialist_books.js') }}"></script>
{% endblock javascript %}