
/* --- Main CSS ----------------------------------------------------------------------------- */
.vertical-line {
    width: 5px;
    border-left: 2px solid rgba(44, 57, 70, 1);
    height: 100wh;
}

hr {
    border-top: 1px solid rgba(44, 57, 70, 1);
    margin-top: 1px;
}

a {
    color: lightgray;
}

@media (max-width: 650px) {
    .account-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 490px) {
    .account-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* --- Header ------------------------------------------------------------------------------- */
.header-container {
    position: relative;
    height: 280px;
    background-size: cover;
    border-bottom: 2px solid #808080;
    background-position: center;
    background-repeat: no-repeat;
}

.header-back-pen {
    position: absolute;
    opacity: 0.4;
    right: 15px;
    top: 10px;
}

.header-back-pen:hover {
    opacity: 0.8;
    color: white;
}

.header-profile-container {
    position: absolute;
    left: 15px;
    bottom: -15px;
    height: 230px;
    width: 230px;
}

.header-profile-img {
    z-index: 100;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.on-hover:hover {
    color: white;
    filter: brightness(25%);
}

.header-profile-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 230px;
    width: 230px;
}

.header-knowledge-level {
    z-index: 101;
    position: absolute;
    background: #262626;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40px;
    font-weight: 400;
    border: solid 1px white;
    border-radius: 6px;
    font-size: 13px;
    height: 21px;
}

.header-profile-data {
    display: block;
    position: absolute;
    left: 260px;
    bottom: 35px;
}

.header-profile-data-mobile {
    display: none;
}

.add-shadow {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.follow-btn {
    display: inline-block;
}

.follow-btn-mobile {
    display: none !important;
    text-align: center;
}

@media (max-width: 490px) {
    .header-profile-container {
        position: absolute;
        left: 50% !important;
        top: 95px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        height: 210px;
        width: 210px;
    }
    .header-profile-img {
        height: 91px;
        width: 91px;
        bottom: 5px;
    }
    .header-profile-frame {
        height: 210px;
        width: 210px;
}
    .header-knowledge-level {
        bottom: 20px;
    }
    .header-profile-data {
        display: none;
    }
    .header-profile-data-mobile {
        width: 100%;
        display: block;
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .header-join-follow {
        font-size: 14px;
    }
    .follow-btn-mobile {
        display: flex !important;
        justify-content: center;
    }
}


/* --- Levels ------------------------------------------------------------------------------ */
#series-level {
    margin-left: 20px;
}

#movies-level {
    margin-left: 13px;
}

.account-bar {
    margin: 0 auto;
}

.account-bar-name {
    font-size: 12pt;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: bottom;
}

.account-bar-level {
    font-size: 12pt;
    margin: 0 0 0;
    display: inline-block;
    vertical-align: bottom;
}

.account-bar-next-level {
    display: inline-block;
    font-size: 12pt;
}

.xp-bar {
    height: 10px;
    width: 65%;
    background: grey;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: middle;
}

.xp-bar-fill {
    height: 100%;
    width: 0.1%;
    font-size: 12px;
    line-height: 10px;
    text-align: right;
}


/* --- Updates ------------------------------------------------------------------------------- */
.more-link {
    float: right;
    color: grey !important;
    font-size: 15px;
    margin: 10px 2px 0 0;
}

#all_history {
    display: inline;
}

.update-box {
    padding: 0 8px 8px 8px;
    margin-bottom: 5px;
    border-bottom: solid 1px;
}

.truncate {
    width: 100%;
    margin-bottom: -8px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.update-date {
    margin-left: 35px;
    color: #b3b3b3;
    font-size: 10pt;
}


/* --- Central statistics ------------------------------------------------------------------- */
.media-container {
    position: relative;
    height: 200px;
}

.block {
    height: 30px;
    color: white;
    float: left;
    background-color: #334D5C;
}
.block-no-data {
    height: 30px;
    color: white;
    float: left;
    background-color: black;
}
.block:nth-of-type(2) {
	background-color: #45B29D;
}
.block:nth-of-type(3) {
	background-color: #EFC94C;
}
.block:nth-of-type(4) {
	background-color: #E27A3F;
}
.block:nth-of-type(5) {
	background-color: #DF5A49;
}
.block:nth-of-type(6) {
	background-color: #962D3E;
}
.block:nth-of-type(7) {
	background-color: #48792c;
}
.block:nth-of-type(8) {
	background-color: #32345d;
}

.block-movie {
    height: 30px;
    color: white;
    float: left;
    background-color: #45B29D;
}
.block-movie:nth-of-type(2) {
	background-color: #22748d;
}
.block-movie:nth-of-type(3) {
	background-color: #962D3E;
}

.block:hover, .block-movie:hover{
	opacity: 0.75;
}

.media-stats-title {
    background: #403d3a;
    /*margin: 0 20px 0 20px;*/
}

.evenly-spaced {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stat-text {
    font-size: 12pt;
    color: lightgray;
    clear: both;
}

.favorite-img {
    height: 75px;
    width: auto;
}

.histogram-wrapper {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

#series-score, #movies-score, #books-score, #games-score {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 3px;
    align-items: end;
}

.added-styles {
    list-style: none;
    height: 50px;
    width: 100%;
    padding-left: 0;
}

.histogram-item-series {
    width: 100%;
    background: #216e7d;
}

.histogram-item-movies {
    width: 100%;
    background: #8c7821;
}

.histogram-item-books {
    width: 100%;
    background: #945141;
}

.histogram-item-games {
    width: 100%;
    background: #196219;
}

@media (max-width: 768px) {
    .media-container {
        position: relative;
        height: 200px;
    }
    .mobile-inline-block {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
    /*.media-stats-title {*/
    /*    margin-bottom: 8px;*/
    /*    background: #232120;*/
    /*}*/
}
@media (max-width: 490px) {
    .stat-text {
        font-size: 10pt;
    }
}


/* --- Follows ------------------------------------------------------------------------------ */
.follow-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: grey;
}

.hof-button {
    background-color: #3b3434;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
}

.hof-button:hover {
    color: wheat;
}