
/* --- Return icons/Search/Shared Header CSS ---------------------------------------------------------------- */
.return-icon {
    background: rgba(0, 0, 0, 1);
    padding: 13px 13px 13px 13px;
    margin-left: -2px;
    margin-right: -2px;
    vertical-align: middle;
}

.return-icon-tv {
    background: rgba(0, 0, 0, 1);
    padding: 13px 10px 13px 10px;
    margin-left: -2px;
    margin-right: -2px;
    vertical-align: middle;
}

.common-media {
    background: rgba(0, 0, 0, 0.7);
    min-width: 300px;
    padding: 5px 5px 5px 5px;
    color: darkgrey;
    font-weight: 400;
}

.common-media-meter {
	height: 8px;
	background: rgba(5, 5, 5, 0.6);
}

.common-media-meter-bar {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: forestgreen;
}

.input-container {
    text-align: right;
}

.modded-input {
    background: transparent;
    color: lightgray;
    border: none;
    border-bottom: 1px solid #3b3434;
    padding: 5px;
    width: 25vmin;
}

.modded-input:focus {
    outline: none;
}

.modded-input::placeholder {
    color: darkgray;
    opacity: 1;
}

.shared-pie {
    display: inline-block;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

@media (max-width: 500px) {
    .common-media-pos {
        float: none;
        margin-top: 20px auto 0 auto;
        width: 80%;
    }
    .mobile-margin {
        margin: 10px 0 10px 0;
    }
    .mobile-center {
        text-align: center;
    }
    .modded-input {
        width: 80vmin;
    }
    .input-container {
        text-align: center;
    }
}


/* --- Categories Header CSS ------------------------------------------------------------------------------- */
.cat-btn {
    display: inline-block;
    padding: 5px 0 5px 0;
    margin: 0 15px 0 15px;
    color: lightgray;
    font-weight: 300;
    font-size: 14pt;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none !important;
    text-shadow: none !important;
    -moz-box-shadow: none !important;
}

.cat-btn:hover {
    color: white;
}

.btn-selected {
    color: lightseagreen;
}

.categories-css {
    text-align: center;
    margin: 30px 0 20px 0;
    background: #34383c;
}

@media (max-width: 500px) {
    .cat-btn {
        display: inline-block;
        padding: 5px 10px 5px 10px;
        margin: 5px;
        font-size: 11pt;
    }
}


/* --- Filtering/Sorting Header CSS ------------------------------------------------------------------------ */
.li-genre-sort {
    list-style-type: none;
    display: inline-block;
}

.dropdown-item:hover {
    background-color: black;
}

.genre-drop {
    background-color: #0f0f0f;
    overflow: auto;
    max-height: 400px;
}

.sort-drop {
    background-color: #0f0f0f;
}

.sort-container {
    float: right;
    margin-top: 30px;
}

@media (max-width: 500px) {
    .genre-drop {
        max-height: 250px;
    }
    .sort-container {
        float: none;
        margin: 10px 0 -12px 0;
        text-align: center;
    }
}


/* --- Media Header CSS ------------------------------------------------------------------------------------ */
.cat-title {
    font-weight: 400;
    color: lightgrey;
    display: inline-block;
    text-align: left;
    margin: 30px 0 0 0;
}

@media (max-width: 500px) {
    .cat-title {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
}


/* --- Card CSS -------------------------------------------------------------------------------------------- */
.card {
    border-radius: 0 !important;
    margin-bottom: 50px;
}

.card-img-top {
    border: 1px solid black;
    border-radius: 0 !important;
}

.card-ribbon {
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent #2d6f22;
    position: absolute;
	right: 1px;
	top: 1px;
}

.mask.rgba-black-strong {
    cursor: pointer;
}

.font-mask {
    font-size: 17pt;
    color: lightgrey;
}

.fas.fa-trash, .fas.fa-bars, .far.fa-star {
    text-shadow: 0 0 4px #000;
}

.seas-eps-drop-container {
    background-color: #0a262d;
    border: 1px solid black;
    text-align-last: center;
    display: inline-block;
    position: absolute;
    text-align: center;
    bottom: -25px;
    width: 100%;
    left: 0;
}

.seas-eps-drop {
	cursor: pointer;
    background: transparent;
    border: none;
    color: lightgrey;
    width: 46%;
}

.score-drop, .rewatch-drop {
	cursor: pointer;
    text-align-last: center;
    background: transparent;
    border: none;
    color: lightgrey;
}

.seas-eps-drop:focus {
    outline: none;
}

.seas-eps-drop-options {
    background: #131418;
}

.card-cat-buttons {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    margin-right: -50%;
    opacity: 1;
    z-index: 100;
}

.card-btn-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.8;
    z-index: 100;
}

.load-medialist {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
}

.central-loading {
    position: relative;
    top: 40%;
    left: 40%;
}

.central-feeling {
    position: relative;
    top: 85%;
}

.feel {
    cursor: pointer;
}

.bottom-card-info {
    background-color: #0f0f0f;
    border-right: solid 1px black;
    border-left: solid 1px black;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    height: 25px;
    width: 100%;
    bottom: 0;
    right: 0;
}

.bottom-card-info-movie {
    background-color: #0a262d;
    border: solid 1px black;
    text-align: center;
    position: absolute;
    opacity: 1;
    height: 25px;
    width: 100%;
    bottom: -25px;
    right: 0;
}

.favorited {
    color: #cd0303 !important;
}

.commented {
    color: darkgoldenrod !important;
}

.card-move-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 25px;
    opacity: 0;
    z-index: 100;
}

.card-move-delete:hover {
    opacity: 0.8;
}

.mask:hover~.card-move-delete {
    opacity: 0.8;
}

.bottom-card-cat {
    background-color: #655757;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    height: 24px;
    width: 100%;
    bottom: 25px;
    right: 0;
}

.bottom-card-cat-movie {
    background-color: #655757;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    height: 24px;
    width: 100%;
    bottom: -1px;
    right: 0;
}

.card-btn-top-left {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    opacity: 0;
    z-index: 100;
}

.card-btn-top-left:hover {
    opacity: 0.8;
}

.mask:hover~.card-btn-top-left {
    opacity: 0.8;
}

.card-btn-toop-right {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    z-index: 100;
}

.card-btn-toop-right:hover {
    opacity: 0.8;
}

.mask:hover~.card-btn-toop-right {
    opacity: 0.8;
}

.modal-content {
    max-width:  320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #131418;
    border-radius: 2px !important;
    border: grey 2px solid !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.on-right {
    float: right;
    margin: 3px 7px 0 0;
}

@media (max-width: 1025px) {
    .card {
        margin-bottom: 24px;
    }
    .font-mask {
        font-size: 13pt;
    }
}
@media (max-width: 991px) {
    .card-btn-top-left {
        opacity: 0.8;
    }
    .card-btn-toop-right {
        opacity: 0.8;
    }
    .card-btn-mobile {
        font-size: 9px;
        padding: 2px !important;
    }
}
@media (max-width: 410px) {
    .seas-eps-drop {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}


/* --- Pagination Header CSS ------------------------------------------------------------------------------- */
.pagination-css {
    justify-content: center;
    font-weight: 400;
}

.pagination .page-item.active .page-link {
   background-color: #3c3b3b !important;
}

.page-link {
    padding: 8px;
}

.page-link:hover {
   background-color: #3c3b3b !important;
}


/* --- Next airing CSS ------------------------------------------------------------------------------------- */
.absolute-data {
    background-color: #21263b;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    position: absolute;
    opacity: 0.9;
    height: 24px;
    width: 100%;
    bottom: -1px;
    right: 0;
}

.absolute-data-2 {
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    position: absolute;
    opacity: 1;
    height: 24px;
    width: 100%;
    bottom: -24px;
    right: 0;
}


/* --- Games dropdown -------------------------------------------------------------------------------------- */
.playtime-drop {
	cursor: pointer;
    background: transparent;
    border: none;
    color: lightgrey;
}

.playtime-drop:focus {
    outline: none;
}


/* --- More Stats CSS -------------------------------------------------------------------------------------- */
.vertical_line {
    width: 5px;
    border-left: 2px solid rgba(44, 57, 70, 1);
    height: 100wh;
}

.series-container {
    position: relative;
    height: 400px;
    margin-top: -15px;
}

.movies-container {
    position: relative;
    height: 400px;
    margin-top: 15px;
}
