
/* --- Main CSS ------------------------------------------------------------------------- */
body > li {
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.vertical_line {
    width: 5px;
    border-left: 2px solid darkgray;
    height: 100wh;
}

.wrapper {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.media-title-mobile {
    display: none;
}

@media (max-width: 1100px) {
    .wrapper {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 767px) {
    .media-title-mobile {
        display: block !important;
    }
    .media-title-pc {
        display: none !important;
    }
}
@media (max-width: 490px) {
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .media-cover {
        width: 250px;
        height: 375px;
    }
}


/* --- User's list ---------------------------------------------------------------------- */
.favorited {
    cursor: pointer;
    color: #cd0303;
    float: right;
}

.no-fav {
    cursor: pointer;
    color: #929292;
    float: right;
}

.btn-smaller {
    padding: 8px !important;
}

.cat-drop {
    background: #070a0c;
    border: transparent;
    cursor: pointer;
    width: 130px;
}

.loading-img {
    height: 20px;
    width: 20px;
}

.fas.fa-check {
    color: green;
}

.feel {
    cursor: pointer;
}


/* --- User's comments ------------------------------------------------------------------ */
.far.fa-edit {
    float: right;
    color: #929292;
}

.comment-position {
    position: relative;
    padding: 0 7px 0 7px;
    background: #131418;
    top: -20px;
    left: 2px;
}

.comment-style {
    text-align: justify;
    text-justify: inter-word;
}


/* --- User's TV media ------------------------------------------------------------------ */
.eps-per-season {
    overflow-y : auto;
    max-height: 270px;
}

.box {
    width: 53px;
    height: 75px;
}

.game-box {
    width: 75px;
    height: 60px;
}


/* --- Follows -------------------------------------------------------------------------- */
.follow-margin {
    margin-left: 21px;
}

.follow-img {
    border-radius: 50%;
    background-color: grey;
    height: 55px;
    width: 55px;
}

.follow-div {
    background: #242428;
    padding: 5px 20px 15px 20px;
}

.f-favorited {
    color: #cd0303;
}

.f-no-fav {
    color: #929292;
}

.commentary {
    margin-bottom: 0;
}

@media (max-width: 490px) {
    .follow-margin {
        margin-left: 2px;
    }
}


/* --- Central media data --------------------------------------------------------------- */
.movie-vote-average {
    color: black;
    font-weight: 1000;
    position: absolute;
    top: 53px;
    left: 43px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.movie-vote-count {
    position: absolute;
    top: 40px;
    left: 80px;
}

.tv-vote-average {
    color: lightgray;
    font-weight: 1000;
    position: absolute;
    top: 46px;
    left: 43px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tv-vote-count {
    position: absolute;
    top: 37px;
    left: 74px;
}

.game-vote-average {
    color: black;
    font-weight: 1000;
    position: absolute;
    top: 49px;
    left: 46px;
    font-size: 14pt;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.giveMeEllipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
}