
/* --- General CSS --------------------------------------------------------------- */
table.table-sm td {
    padding: 5px;
}

.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;   /* number of lines to show */
}


/* --- Statistics ---------------------------------------------------------------- */
.statistics {
	color: #e5e7eb;
}

.statistics .box {
	background-color: #172027;
}

.statistics .box i {
	width: 50px;
	height: 50px;
	line-height: 50px;
}


/* --- General CSS --------------------------------------------------------------- */
.media-container {
    position: relative;
    height: 400px;
}

@media (max-width: 768px) {
    .chart-container {
        height: 25vh;
        width: 98vw;
    }
    .media-container {
        position: relative;
        height: 300px;
    }
    .mobile-margin {
        margin-left: 0;
        margin-right: 0;
    }
}



