
/* --- Main CSS ----------------------------------------- */
.form-account {
    max-width: 700px;
}

.form-control {
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}

.form-control:focus {
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 0 0;
    color: #fff;
}

.form-check-label {
    margin-bottom: 30px;
}

.form-check {
    padding: 0;
}
