
/* --- Card CSS ------------------------------------------------------------------------------- */
.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;   /* number of lines to show */
}

.giveMeEllipsis2 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;   /* number of lines to show */
}

.giveMeEllipsis-3 {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;   /* number of lines to show */
}

.card {
   width: 850px;
   background: #151418;
   border-radius: 0;
}

.img-min-height {
   min-height: 180px;
   width: 120px;
}

.img-min-height-user {
   min-height: 120px;
   width: 120px;
}

.btn-small {
   padding: 8px 15px 8px 15px;
}

.search-active {
   background: #2f4b67;
   cursor: pointer;
}

.search-not-active {
   background: #2c3946;
   cursor: pointer;
}

@media (max-width: 500px) {
   .mobile-img {
      text-align: center;
   }
}