{% extends "layout.html" %}


{% block css %}
    <link href="{{ url_for('static', filename='css/reset_password.css') }}" rel="stylesheet">
    <style>
        body {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
            background: #070a0c;
            margin: 0;
            color: #e2e2e2;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container form-account m-t-40">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Your Password</legend>
                <div class="form-check m-r-30 m-b-30">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control", placeholder="E-mail") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-check m-l-30 m-r-30 text-center">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}